// common style share from mm-user-panel [ 'location' => commponents/_mm-user-panel.scss];

.ng-enter{
  .mm-up-ani{
    @include translate( 0, 20px);
    opacity: 0;
    @include transition( all 0.3s ease-out );
  }
  .mm-up-ani-d1{
    @include translate( 0, 20px);
    opacity: 0;
    @include transition( all 0.35s ease-out );
  }
  .mm-up-ani-d2{
    @include translate( 0, 20px);
    opacity: 0;
    @include transition( all 0.4s ease-out );
  }
  .mm-up-ani-d3{
    @include translate( 0, 20px);
    opacity: 0;
    @include transition( all 0.45s ease-out );
  }
}

.ng-enter-active {
    /* standard transition styles */
    .mm-up-ani,
    .mm-up-ani-d1,
    .mm-up-ani-d2,
    .mm-up-ani-d3{
        @include translate( 0, 0);
        opacity: 1;
    }
}
