

<!-- MM LOGIN  -->
<div class="c-parent">

	<div ng-include="'build/templates/logo.tpl.html'"></div>

	<!-- /.mm-login-wrapper -->
	<div class="mm-user-panel-wrapper">
	<div class="mm-user-panel mm-login slide-left">

		<div class="mm-user-options">
			<a ng-href="{{meta.routes.login}}" class="active" ng-bind="txt.TXT001"></a>
			<a ng-href="{{meta.routes.register}}" ng-bind="txt.TXT002"> </a>
		</div>

		<form name="meta.loginForm" ng-submit="meta.loginForm.$valid && login() " novalidate>

			<div class="form-group">
				<div class="input-wrapper">
					<input ng-change="meta.isUserExist = false" type="email" ng-model="user.email" class="form-control" name="email" placeholder="{{txt.TXT0026}}" required="" />
					<div class="icon">
						<i class="fa fa-envelope"></i>
					</div>
				</div>
				<div ng-show="meta.loginForm.$submitted || meta.loginForm.email.$dirty">
					<div ng-show="meta.loginForm.email.$error.required" ng-bind="txt.ERR001" class="mm-error-message"></div>
					<div ng-show="meta.loginForm.email.$error.email" ng-bind="txt.ERR003" class="mm-error-message"></div>
					<div ng-show="meta.isUserExist" ng-bind="meta.isUserExist" class="mm-error-message"></div>
				</div>
			</div>

			<div class="form-group">
				<div class="input-wrapper">
					<input type="password" ng-change="meta.isPasswordInvalid = false" ng-model="user.password" class="form-control" name="password" placeholder="{{txt.TXT004}}" required="" />
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>

				<div ng-show="meta.loginForm.$submitted || meta.loginForm.password.$dirty">
					<div class="mm-error-message" ng-show="meta.loginForm.password.$error.required" ng-bind="txt.ERR002"></div>
					<div class="mm-error-message" ng-show="meta.isPasswordInvalid" ng-bind="meta.isPasswordInvalid"></div>
				</div>
			</div>

			<div class="form-group mm-other-link">
				<a ng-href="{{ meta.routes.recover }}" class="forget-password" ng-bind="txt.TXT005"></a>
			</div>

			<button ng-click="submitted = true" ng-class="{'loader': meta.isLoggingIn}" ng-disabled="meta.isLoggingIn" type="submit" class="mm-btn-secondary" ng-bind="txt.TXT006"> <i class="fa fa-paper-plane"></i></button>
		</form>

	</div>
	<!-- /.mm-login -->
</div>
</div>

<!-- message -->
<div toast="meta.toast"></div>
