<div class="form-group">
	<div class="input-wrapper">
		<input type="input" class="form-control" ng-change="meta.codeError=false" name="code" ng-model="user.token" placeholder="{{meta.message.TXT0027}}" required="" />
		<div class="icon">
			<i class="fa fa-key"></i>
		</div>
	</div>
	<div ng-show=" recoverForm.$submitted || recoverForm.code.$dirty ">
		<div ng-show=" recoverForm.code.$error.required " ng-bind="meta.message.ERR007" class="mm-error-message"></div>
		<div ng-show="meta.codeError" ng-bind="meta.codeError" class="mm-error-message"></div>
	</div>
</div>

<div class="form-group">
	<div class="input-wrapper">
		<input type="password" class="form-control" ng-change="meta.passwordError=false" name="password" ng-model="user.password" placeholder="{{meta.message.TXT004}}" required="" />
		<div class="icon">
			<i class="fa fa-lock"></i>
		</div>
	</div>
	<div ng-show="recoverForm.$submitted || recoverForm.password.$dirty">
		<div ng-show="recoverForm.password.$error.required" ng-bind="meta.message.ERR002" class="mm-error-message"></div>
		<div ng-show="user.password.length < 8" ng-bind="meta.message.USR018" class="mm-error-message"></div>
		<div ng-show="meta.passwordError" ng-bind="meta.passwordError" class="mm-error-message"></div>
	</div>
</div>
<!-- /.form-group -->
