
<div class="c-parent">

	<div ng-include="'build/templates/logo.tpl.html'"></div>

	<div class="mm-user-panel-wrapper">
		<div class="mm-user-panel mm-recover slide-left">

			<h2 ng-bind="meta.message.TXT009" class="mm-title"></h2>

			<form name="recoverForm" ng-submit=" recoverForm.$valid && recover() " novalidate>
				<div class="form-group">
					<div class="input-wrapper">
						<input type="email" class="form-control" ng-change="meta.emailError=false" name="email" ng-model="user.email" placeholder="{{meta.message.TXT0026}}" required="" />
						<div class="icon">
							<i class="fa fa-envelope"></i>
						</div>
					</div>
					<div ng-show=" recoverForm.$submitted || recoverForm.email.$dirty ">
						<div ng-show="recoverForm.email.$error.required" ng-bind="meta.message.ERR001" class="mm-error-message"></div>
						<div ng-show="recoverForm.email.$error.email" ng-bind="meta.message.ERR003" class="mm-error-message"></div>
						<div ng-show="meta.emailError" ng-bind="meta.emailError" class="mm-error-message"></div>
					</div>
				</div>
				<!-- /.form-group -->

				<div class="extra-form" ng-include=" meta.haveCode ? meta.extraForm : null">>
				</div>
				<div class="form-group mm-other-link">
					<a ng-href="{{ meta.routes.login }}" class="forget-password" ng-bind="meta.message.TXT001"></a>
				</div>
				<!-- /.mm-other-link -->

				<button type="submit" class="mm-btn-secondary" ng-class="{'loader': meta.isRecovering}" ng-disabled="meta.isRecovering"><span ng-bind="meta.message.TXT008"></span></button>
			</form>

		</div>
	</div>
</div>
<!-- /.c-parent -->

<!-- message -->
<message status='meta'></message>
