<div class="mm-payment mm-subscribe mm-up-ani mm-main-content slide-top">
    <div class="mm-credit-card-pay mm-content">  
        <a href="" ng-click="loadStripeForm()" class="mm-back-arrow pull-left" >
    		<i fa="" class=" fa fa-arrow-left"></i>
    	</a>
        <br/>
        <br/>
        <img src="build/assets/img/paypal.png" class="paypal-img" alt="paypal image">
        <br/>
        <br/>
        <br/>
        <!-- ng-bind="txt.TXT0112" -->
        <!-- <h1 ng-bind="txt.TXT0021"></h1> -->
        <form name="meta.loadFund" ng-submit=" meta.loadFund.$valid && pay( meta.loadAmount ) " class="credit-card-form" novalidate>
            <!-- stripeForm.$valid && createToken( stripeForm )-->
            <div class="mm-signup-form">

                <div class="form-group">
                    <div class="input-wrapper">
                        <input type="number" class="form-control" name="loadAmount" ng-model="meta.loadAmount" placeholder="{{txt.TXT0115}}" required="" />
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                    <div ng-show=" meta.loadFund.$submitted ||  meta.loadFund.loadAmount.$dirty ">
                        <div ng-show="meta.loadFund.loadAmount.$error.required  " ng-bind=" txt.TXT0176 " class="mm-error-message"></div>
                    </div>
                </div>

                <br/>
                <button type="submit" class="mm-btn-success" ng-class="{'loader':paypal.isLoadingFund}" ng-disabled="paypal.isLoadingFund" ng-bind="txt.TXT0021"></button>

            </div>
        </form>

    </div>
    <!-- /.mm-credit-card-pay -->
</div>
<!-- /.load-fund-form -->
