<div class="mm-payment">
    <div class="mm-credit-card-pay slide-top">

        <h1 ng-bind="txt.TXT0112"></h1>
        <!-- <div class="input-wrapper">
            <button type="submit" class="mm-btn-primary" ng-bind="txt.TXT0113" ng-click="loadWithPaypal()"></button>
        </div> -->
        <a href=""  class="mm-btn-paypal" ng-click="loadWithPaypal()"><span>{{txt.TXT0181}}</span><img src="build/assets/img/paypal.png" width="80" alt="paypal image"></a>

        <div class="option-line"></div>
        <h2 ng-bind="txt.TXT0114"></h2>

        <form name="stripeForm" ng-submit="stripeForm.$valid && createToken(stripeForm)" class="credit-card-form" novalidate>
            <div class="form-group">
                <div class="input-wrapper">
                    <input type="text" class="form-control" name="name" ng-model="card.name" placeholder="Name" required>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input type="text" class="form-control" name="number" ng-model="card.number" placeholder="Credit No" required>
                    <div class="icon">
                        <i class="fa fa-credit-card-alt"></i>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label ng-bind="txt.TXT0115"></label>
                <div class="input-wrapper">
                    <input type="number" class="form-control" name="amount" ng-model="stripe.loadAmount" required>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <label ng-bind="txt.TXT0116"></label>
                    <select name="exp_month" ng-model="card.exp_month" class="form-control" ng-options="value as key for (key , value) in {'Jan': 1,'Feb': 2,'Mar': 3,'Apr': 4,'May': 5,'Jun': 6,'jul': 7,'Aug': 8,'Sept': 9,'Oct': 10,'Nov': 11,'Dec': 12}" required></select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <label ng-bind="txt.TXT0117"></label>
                    <select name="exp_year" ng-model="card.exp_year" class="form-control" ng-options="y as y for y in years" required></select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input type="text" class="form-control" name="cvc" ng-model="card.cvc" placeholder="CVC" required>
                    <div class="icon">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
            </div>

            <div class="input-wrapper">
                <button type="submit" class="mm-btn-success" ng-bind="txt.TXT0118" ng-class="{'loader':stripe.isLoadingFund}" ng-disabled="stripe.isLoadingFund"></button>
            </div>
        </form>

    </div>
    <!-- /.mm-credit-card-pay -->
</div>
<!-- /.load-fund-form -->
