.mm-loadfund {}
$load_fund_width: 370px;
$or_icon_width: 35px;

.option-line {
    border: 1px solid #e8e8e8;
    margin: 35px 0 20px;
    width: 150px;
    display: inline-block;
    position: relative;

    &:after {
        content: "OR";
        width: $or_icon_width;
        color: #acacac;
        font-style: italic;
        font-weight: bold;
        font-size: 12px;
        height: $or_icon_width;
        line-height: 31px;
        background-color: $color_white;
        border: 2px solid #e8e8e8;
        @extend %center;
        @include border-radius (50% );
        @include box-shadow( 0 0 0 3px $color_white );
    }
}


.mm-payment {
    text-align: center;
    position: relative;

    &.mm-subscribe{
        margin-left: 0;
        .mm-content{
            margin: 40px 0;
        }
        .mm-credit-card-pay{
            position: relative;
            @include box-shadow( 0px 3px 10px 0px rgba(0, 0, 0, 0.3) );
        }
    }

    .mm-credit-card-pay {
        width: $load_fund_width;
        max-width: 100%;
        padding: 20px;
        display: inline-block;
        @extend %common-shadow-n-bg;
        // @include border-radius( 3px );

        h1 {
            font-size: 18px;
            color: lighten( $color_black, 30% );
            text-transform: capitalize;
            margin: 10px 0 35px;
        }

        h2 {
            font-size: 14px;
            text-align: left;
            text-transform: capitalize;
            color: lighten( $color_black, 40% );
        }

        .mm-btn-primary {
            padding: 9px 15px;
            width: 100%;
        }

        .form-group {
            margin-bottom: 7px;

            .input-wrapper {
                .icon {
                    color: lighten( $color_black, 70% );
                    font-size: 16px;
                }
            }
        }

        .form-control {
            font-size: 12px;
        }
        .mm-btn-primary{
          font-weight: $font_weight_normal;
          text-transform: capitalize;
        }

        .mm-btn-success {
            margin-top: 10px;
            text-transform: capitalize;
        }
    }

}
