
<div class="mm-loadfund mm-main-content" id="mm-main-content" dashboard>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>
        <div class="mm-dynamic-section">

        <div ng-include="template"></div>

        </div><!-- /.mm-dynamic-section -->

    </div><!-- /.mm-content -->

</div><!-- /.mm-activities -->


<!-- messages -->
<div toast="stripe.toast"></div>
<div toast="paypal.toast"></div>
