// sm => side menu
// defined in variables => helpers => variables
$sm_width: $mm_side_menu_width;
$sm_color: $color_primary;
$sm_profile_pic_size: 60px;
$sm_user_status_size: 10px;
$sm_social_link_height: 40px;

.mm-main-content {
    margin-left: $mm_side_menu_width;
    @include clearfix();
    @include transition( margin #{$mm_side_menu_animation} );

    &.nav-close {
        margin-left: 0;
    }

    .mm-content {
        margin-top: 66px;
    }

    .mm-dynamic-section {
        padding: 30px;
        position: relative;
        min-height: 80vh;

        @include media(xs){
            padding: 15px;
        }
    }

    @include media(xs){
        margin-left: 0;
    }
}

.mm-side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $sm_width;
    padding-bottom: $sm_social_link_height;
    background-color: $color_white;
    @include transition( left #{$mm_side_menu_animation} );
    @include media(sm){
        z-index: 9;
    }
    &.nav-close {
        left: - $sm_width;
    }

    @include media(xs){
        left: - $sm_width !important;
        &.nav-close{
            left: 0 !important;
        }
    }

    .mm-site-logo {
        background-color: $sm_color;
        color: $color_white;
        font-size: 20px;
        font-weight: $font_weight_bold;
        text-transform: uppercase;
        // padding: 20px;
        text-align: left;
        height: 68px;
        line-height: 68px;
    }
    //.mm-site-logo
    .mm-profile {
        padding: 15px 20px;

        .mm-user-info-n-pic {
            @include clearfix();
            margin-bottom: 20px;

            .mm-user-pic {
                width: $sm_profile_pic_size;
                height: $sm_profile_pic_size;
                background-image: url('../img/mm-side-profile-pic.png');
                background-size: cover;
                @include border-radius( 50% );
                float: left;
            }

            .mm-user-info {
                overflow: hidden;
                margin: 10px 0 0 ($sm_profile_pic_size + 15);

                h1 {
                    font-size: 16px;
                    margin: 0;
                    text-transform: capitalize;
                    font-weight: $font_weight_bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .mm-user-status {
                    display: inline-block;
                    position: relative;
                    padding-left: 15px;
                    font-size: 12px;
                    font-weight: $font_weight_normal;
                    text-transform: capitalize;
                    color: lighten( $color_black, 40% );

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: $sm_user_status_size;
                        height: $sm_user_status_size;
                        @include translate( 0, -50% );
                        @include border-radius( 50% );
                    }

                    &.online {
                        &:before {
                            background-color: $color_success;
                        }
                    }

                    &.offline {
                        &:before {
                            background-color: lighten( $color_black, 70% );
                        }
                    }
                }
                //.mm-user-status
            }
            //.mm-user-info
        }
        //.mm-user-info-n-pic
        .mm-account-status {
            .mm-as-title-n-arrow {
                .mm-as-title {
                    position: relative;
                    overflow: hidden;
                    font-weight: $font_weight_bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 8px 15px;
                    display: block;
                    text-align: center;
                    border: 1px solid $color_border;
                    border-right: none;
                    color: lighten( $color_black, 35% );
                    // @include border-radius( 5px 0 0 5px );
                    @include transition( border-color 0.3s );
                }

                .mm-down-arrow {
                    width: 40px;
                    float: right;
                    color: $color_secondary;
                    line-height: 33px;
                    text-align: center;
                    font-size: 18px;
                    border: 1px solid $color_border;
                    // @include border-radius( 0 5px 5px 0 );

                    i {
                        @include rotate(0);
                        @include transition( transform 0.3s );
                    }

                    &.open {
                        background-color: $color_secondary;
                        border-color: $color_secondary;
                        color: $color_white;

                        i {
                            @include rotate(-180);
                        }
                    }
                }
            }

            ul {
                display: none;
                background-color: $color_secondary;
                margin-top: 5px;
                padding: 8px 0;
                // @include border-radius( 5px );

                li {
                    a {
                        display: block;
                        padding: 4px 15px;
                        font-size: 12px;
                        text-transform: capitalize;
                        color: $color_white;
                        font-weight: $font_weight_normal;
                        margin: 2px 0;
                        background-color: $color_secondary;
                        @include transition( background-color 0.1s );
                        position: relative;

                        &:hover {
                            background-color: lighten( $color_secondary, 8% );
                            @include transition( background-color 0.5s );
                        }

                        p {
                            margin: 0;
                        }

                        span {
                            position: absolute;
                            top: 4px;
                            right: 6px;
                            display: inline-block;
                            float: right;
                            font-weight: $font_weight_bold;
                            padding: 0 6px 2px;
                            font-size: 11px;
                            line-height: 15px;
                            margin-left: 15px;
                            background-color: lighten( $color_secondary, 15% );
                            @include border-radius( 10px );
                        }
                    }
                }
            }
        }
    }
    //.mm-profile
    .mm-main-menu {
        max-height: calc( 100vh - 253px);
        overflow: auto;  

        li {
            a {
                position: relative;
                z-index: 1;
                display: block;
                padding: 12px 20px;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 500;
                margin-bottom: 3px;
                opacity: 0.7;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    border-right: 0 solid $color_primary;
                    @include transition( border 0.3s linear );
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 50%;
                    opacity: 0;
                    z-index: -1;
                    background-color: $color_body;
                    @include transition( width 0.15s linear, opacity 0.15s linear );
                }

                i {
                    font-size: 17px;
                    margin-right: 8px;
                    width: 20px;
                    color: $color_primary;
                    @include transition( all 0.3s linear );
                }

                &.active,
                &:hover {
                    opacity: 1;
                    &:before {
                        border-right: 4px solid $color_primary;
                    }

                    &:after {
                        width: 100%;
                        opacity: 1;
                    }

                    i {
                        color: $color_primary;
                        @include scale( 1.15 );
                    }
                }
            }
        }
    }
    //.mm-main-menu
    // social color are defined on variables
    $mm_social_links: ( facebook $color_facebook, twitter $color_twitter, pinterest $color_pinterest );
    $mm_sl_border_color: darken( $color_body, 10% );
    $mm_counter: 1;
    $mm_social_length: length($mm_social_links);

    .mm-social-links {
        position: fixed;
        bottom: 0;
        width: $sm_width;
        height: $sm_social_link_height;
        background-color: $color_white;
        z-index: 5;

        li {
            width: 100%/$mm_social_length;
            float: left;
            text-align: center;

            a {
                display: block;
                line-height: $sm_social_link_height;
                font-size: 16px;
                background-color: transparent;
                @include transition( color 0.05s , background-color 0.1s );

                &:hover {
                    color: $color_white;
                    @include transition( color 0.15s , background-color 0.8s );
                }
            }
            @each $mm_social in $mm_social_links {
                .#{nth( $mm_social, 1 )} {
                    color: nth( $mm_social, 2);

                    &:hover {
                        background-color: nth( $mm_social, 2);
                    }
                    @if( $mm_counter == $mm_social_length ) {
                        border-top: 1px solid $mm_sl_border_color;
                        border-right: none;
                    }
                    @else {
                        border-top: 1px solid $mm_sl_border_color;
                        border-right: 1px solid $mm_sl_border_color;
                    }
                    $mm_counter: $mm_counter+1;
                }
            }
        }
    }
    //.mm-social-links
}
//.mm-side-nav

.mm-user-role {
    font-size: 10px;
    text-transform: capitalize;
    font-weight: $font_weight_bold;
    color: lighten( $color_black, 40%);

    span {
        margin-right: 3px;
    }
}
