
<div class="mm-side-nav" id="mm-side-nav">

	<!-- MM SITE LOGO -->
	<div class="mm-site-logo">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 79.7"
		style="
		    enable-background:new 0 0 235.2 79.7;
		    width: 49px;
		    z-index: 9;
		    height: 40px;
		    float: left;
		    margin-left: 10px;
		    margin-top: 12px;
		    " xml:space="preserve" class="ng-scope">
				<style type="text/css">
					.st0 {
						fill-rule: evenodd;
						clip-rule: evenodd;
						fill: #fff;
					}
				</style>
			<path class="st0" d="M29,8.7c0-1.1,0.9-1.9,1.9-1.9c0.4,0,0.8,0.1,1.1,0.3l13.6,9.5l-12.3,7L29.1,9.3C29.1,9.1,29,8.9,29,8.7z
			 M5.2,43.6c0-0.7,0.4-1.3,1-1.7l27.7-16.5l13.4-7.9L58.5,11c0.4-0.2,0.7-0.3,1-0.3c1.1,0,1.9,0.9,1.9,1.9c0,0.2,0,0.3-0.1,0.5
			l-2.3,12.7l13.8,9.7c0.6,0.3,0.9,0.9,0.9,1.6c0,1-0.8,1.9-1.9,1.9l-15.7,1.6l-5.8,29.9c-0.1,1-0.9,1.7-1.9,1.7c-0.7,0-1.4-0.4-1.7-1
			l-14-24l20.8-27.8c0.3-0.5-0.3-1-0.8-0.6l-27,23.9L7.2,45.5C6.1,45.5,5.2,44.7,5.2,43.6z"></path>
		</svg>
		<span>{{siteName}}</span>
	</div><!-- /.title -->

	<!-- MM PROFILE -->
	<div class="mm-profile">
		<div class="mm-user-info-n-pic">
			<a ng-href="{{profileUrl}}">
				<div class="mm-user-pic" style="background-image:url('{{meta.userInfo.meta.avatar}}')"></div>
			</a>
			<div class="mm-user-info">
				<h1>{{meta.userInfo.meta.nick_name || 'Nick name'}}</h1>
				<span class="mm-user-status online " ng-if="'1' === meta.userInfo.is_active" ng-bind="txt.TXT0076"></span>
				<span class="mm-user-status offline " ng-if="'1' !== meta.userInfo.is_active" ng-bind="txt.TXT0077"></span>
				<span class="mm-user-role">
					<span>|</span>{{role}}
				</span>
			</div>
		</div>

		<div data-role="{{role}}" ng-if="role != 'administrator'" class="mm-account-status">
			<div href="#" class="mm-as-title-n-arrow"> <!-- as => accout status -->
				<a href="" class="mm-down-arrow" id="down-arrow">
					<i class="fa fa-angle-down"></i>
				</a>
				<div class="mm-as-title" ng-bind="accoutName">
				</div>
			</div>
			<ul id="account-options">
				<li ng-repeat = "a in accoutOptions">
					<a href="" ng-click="goToMail( a.status )">
						<p ng-bind="a.name"></p>
						<span ng-bind="notification[ a.notificationKey ]"></span>
					</a>
				</li>
			</ul>
		</div>
	</div><!-- /.mm-profile -->

	<!-- MM MAIN MENU -->
	<ul class="mm-main-menu">
		<li ng-repeat="m in menu  | orderBy : 'id' " >
			<a ng-href="{{m.slug}}"  ng-class="{'active': m.slug == selected}">
				<i class="{{m.icon}}"></i>
				<span ng-bind="m.name"></span>
			</a>
		</li>
	</ul><!-- /.mm-main-menu -->

	<!-- SOCIAL LINKS -->
	<ul class="mm-social-links">
		<li ng-repeat=" s in socialLinks">
			<a ng-href="{{s.slug}}" class="{{s.class}}" target="_blank"><i class="{{s.icon}}"></i></a>
		</li>
	</ul>

</div><!-- /mm-side-nav -->
