.mm-btn-paypal{
    position: relative;
    background-color: $color_paypal;
    padding: 9px 15px;
    display: block;
    font-size: 14px;
    font-weight: $font_weight_bold;
    border: none;
    text-transform: capitalize;
    color: $color_white;
    @include box-shadow( 0px 0px 0px 0px rgba($color_paypal, 0.4) );
    @include transition( all 0.1s linear );

    img{
        margin-left: 10px;
    }

    &:active, &:focus, &:visited{
        color: $color_white;
    }

    &:hover{
        @include transition( all 0.25s ease-in-out );
        background-color: darken( $color_paypal, 10% );
        @include box-shadow( 0px 0px 0px 5px rgba($color_paypal, 0.4) );
        color: $color_white;
    }
}
