.mm-btn-login-icon{
	background-color: $color_primary;
	padding: 8px 25px;
	border: 3px solid $color_white;
	font-size: 13px;
	text-transform: uppercase;
	color: $color_white;
	// @include border-radius( 8px ); 
	@include transition( background-color 0.3s linear );

	&:hover{
		background-color: darken( $color_primary, 10% );
	}

	.fa{
		margin-right: 5px;
	}
}
