.mm-btn-primary{
    position: relative;
    background-color: $color_primary;
    padding: 6px 15px;
    font-size: 14px;
    border: none;
    text-transform: capitalize;
    color: $color_white;
    // @include border-radius( 5px );
    @include transition( padding 0.3s );

    &:hover{
        background-color: darken( $color_primary, 5% );
        @include transition( background-color 0.3s );
    }
     &:active{
        background-color: darken( $color_primary, 20% );
        @include transition( all 0.3s );
     }
}
