.mm-btn-success {
    position: relative;
    background-color: $color_success;
    padding: 10px 15px;
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: $font_weight_normal;
    color: $color_white;

    // @include border-radius(3px);
    @include transition( background-color 0.3s ease-in-out );

    &:hover {
        background-color: darken( $color_success, 5%);
    }

    &:focus {
        outline: none;
    }

    .fa {
        margin-right: 5px;
    }
}

.mm-btn-secondary {
    position: relative;
    background-color: $color_primary;
    padding: 10px 15px;
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: $font_weight_bold;
    color: $color_white;
    // @include border-radius(3px);
    @include transition( background-color 0.3s ease-in-out );

    &:hover {
        background-color: darken( $color_primary, 5%);
    }

    &:focus {
        outline: none;
    }

    .fa {
        margin-right: 5px;
    }
}
