.loader {
    color: transparent ;

    &:after {
        content: url('../svg/loading.svg');
        position: absolute;
        top: 57%;
        width: 30px;
        left: 50%;
        @include translate( -50%, -50% );
    }
}
