<div class="mm-recent-mail mm-mail mm-up-ani">

  <div class="mm-title-search-n-tab">
      <div class="mm-search-n-tab" ng-show="userInfo.role === 'administrator'">

          <form class="mm-search" ng-hide="options.limit">
              <input type="search" name="search" id="search-user" ng-model="userEmail" ng-change="search(userEmail)" ng-blur="disselected()" placeholder="{{txt.TXT0187}}" >
              <button ng-hide="users.isSearching || userEmail.length > 0" class="fa fa-search"></button>
              <button ng-show="users.isSearching" class="fa fa-spinner fa-spin"></i>  
              <button ng-show="!users.isSearching && userEmail.length > 0" class="fa fa-close" ng-click="getAllUsers()"></button>
          </form>

          <div ng-show="userEmail.length > 0 ">
            <ul class="mm-search-user-list overflow-s" >
              <li ng-repeat =" i in users.searchedUser" ng-click="setEmail(i.id, i.email)">
                <div class="img" width="15px" style="background-image: url('{{i.meta.avatar}}')"></div>
                <div class="user" ng-bind="i.email"></div>
              </li>
            </ul>
          </div>

          <ul class="mm-search-user-list" ng-show="ischanged && users.searchedUser.length == 0 && !users.isSearching" >
              <li class="no-data" ng-bind="txt.TXT0146"></li>
          </ul>

      </div>
      <h2><span ng-if="!meta.selectedUser" ng-bind="txt.TXT0120"></span>  <span ng-if="meta.selectedUser"> {{txt.TXT0015}}  &nbsp;(<span style="text-transform:lowercase;">{{meta.selectedUser}}</span>)</span> </h2>
  </div>
  <!-- /.mm-title-n-option -->

  <table id="mail-table" class="activity-table mm-table-responsive b-bottom">
    <thead>
      <tr>
        <th ng-hide="options.limit" ng-bind="txt.TXT0091"></th>
        <th ng-bind="txt.TXT0121"></th>
        <th ng-bind="txt.TXT0034" ng-show="options.pagination"></th>
      </tr>
    </thead>
    <tbody ng-hide="meta.isGetting" dir-paginate="i in meta.activities | itemsPerPage : meta.perPage" total-items="meta.totalRows" current-page="meta.currentPage">
      <tr  class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s">
        <td ng-hide="options.limit">{{ meta.perPage * ( meta.page-1 ) + $index+1 }}</td>
        <td data-colname="{{txt.TXT0121}}">{{ i.activity }} <br /> <b ng-if="i.message">( {{i.message}} )</b></td>
        <td ng-show="options.pagination" data-colname="{{txt.TXT0034}}">{{ i.created_on * 1000 | date : 'LLLL dd, yyyy H:mm a' }}</td>
      </tr>
    </tbody>
  </table>
  <table-loader when="meta.isGetting" empty="meta.activities.length"></table-loader>
  <div ng-if="options.pagination">
      <dir-pagination-controls on-page-change="get( 0, newPageNumber )"></dir-pagination-controls>
  </div>
</div>
