<div class="mm-message"
    ng-class="{ 'active': data.show, 'error': data.type == 'error', 'success': data.type == 'success', 'loading' : data.type ==='loader' }">
    <i class="fa fa-spinner fa-spin fa-fw" hidden></i> {{data.message}}
</div>
