
$c_radio_width: 19px;

input[type=radio], input[type=checkbox] {

	&.mm-c-radio{
		&:checked{
			+ label{
				&:after{  
					border-color: $color_primary;
					@include transition( border 0.2s ease-in-out );
				}
				&:before{
					@include transform( translate( 0, -50%) scale( 0.5 ) );
					@include transition( transform 0.2s ease-in-out );
				}
			}
		}
		+ label{  
			position: relative;
			padding-left: 27px;
			margin-bottom: 15px;
			display: block;
			cursor: pointer;
			text-transform: capitalize;
			&:active{
				&:after{
					@include box-shadow( 0 0 0 7px darken( $color_body,5% ) );
					@include transition( box-shadow 0.1s ease-in-out );
				}
			}
			&:after{
				content: "";
				position: absolute;
				border: 2px solid darken( $color_border, 20% );
				left: 0;
				top: 50%;
				width: $c_radio_width;
				height: $c_radio_width;
				@include border-radius( 50% );
				@include translate( 0, -50% );
				@include box-shadow( 0 0 0 1px darken( $color_body,5% ) );
			}

			&:before{
				content: "";
				position: absolute;
				background-color: $color_primary;
				left: 0;
				top: 50%;
				width: $c_radio_width;
				height: $c_radio_width;
				@include border-radius( 50% );
				@include transform( translate( 0, -50%) scale( 0 ) );
			}
		}
	} //.mm-c-radio
	
}
