.form-group {
    position: relative;
    text-align: left;
    margin-bottom: 10px;

    input:disabled{
  		background-color : transparent;
  		background: #fff;
  		cursor: not-allowed;
  	}

    label {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        color: lighten( $color_black, 30% );
        font-weight: $font_weight_bold;
        margin-bottom: 7px;
    }

    .input-wrapper {
        position: relative;

        .icon {
            position: absolute;
            top: 50%;
            right: 0;
            width: 35px;
            font-size: 16px;
            text-align: center;
            color: lighten( $color_black, 70% );
            border-left: 1px solid $color_border;
            @include translate( 0,-50% );
        }
    }

    //error
    .mm-error-message {
        color: $color_error;
        font-size: 11px;
        margin-top: 3px;
        font-weight: $font_weight_bold;
        text-transform: capitalize;
    }
}
