.credit-card-form.ng-submitted {
	.ng-invalid {
		border-color: $color_error !important;
		color: $color_error;

		+ .icon {
			color: $color_error;
			border-color: $color_error;
		}
	}
}

.form-control {
	width: 100%;
	padding: 9px 50px 9px 10px;
	border: 1px solid $color_border;
	font-size: 12px;
	

	&.ng-invalid.ng-dirty {
		border-color: $color_error !important;
		color: $color_error;

		+ .icon {
			color: $color_error;
			border-color: $color_error;
		}
	}
}
