<div style="margin-bottom: 30px;">
    <div class="mm-alert mm-up-ani">
        <div class="mm-info">
            <b>Email Verification:</b> We have send verification code on your email please verify your email... <button ng-disabled="meta.isSending" class="pull-right" ng-click="resentVerification()">resend code</button>
        </div>
    </div>
    <div toast="meta.toast"></div>
</div>
