$avatar_mid_width  : 120px;
$avatar_small_width : 30px;
$avatar_border_color : #23252b; 

%mm-cmn-avt{
	@include border-radius( 50% );
	background-color: $color_white;
	text-align: center;
}

.mm-avatar-mid{
	@extend %mm-cmn-avt;
	width: $avatar_mid_width;
	height: $avatar_mid_width;
	border: 5px solid $avatar_border_color;

	i{
	    font-size: 55px;
	    color: $color_primary;
        line-height: 110px;
	}
}

.mm-avatar-sm{
	@extend %mm-cmn-avt;
	width: $avatar_small_width;
	height: $avatar_small_width;
	line-height: $avatar_small_width;
}
