<div class="mm-main-content" id="mm-main-content" nicescroll dashboard>
    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>
    <!-- MM CONTENT -->
    <div class="mm-content">
        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>
        <div class="mm-dynamic-section">
            <div class="row">
                <div class="col-md-8">
                    <div class="mm-user-profile mm-option slide-top">

                        <div class="mm-user-info">
                            <form class="user-detail" ng-submit="optionForm.$valid && update()" name="optionForm" novalidate>
                                <div class="form-group">
                                    <label ng-bind="txt.TXT0111"></label>
                                    <div class="input-wrapper">
                                        <input type="text" name="title" ng-model="meta.options.title" class="form-control">
                                        <div class="icon">
                                            <i class="fa fa-header"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  ng-bind="txt.TXT0026"></label>
                                    <div class="input-wrapper">
                                        <input type="email" name="email" ng-model="meta.options.email" class="form-control">
                                        <div class="icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  ng-bind="txt.TXT0143"></label>
                                    <div class="input-wrapper">
                                        <input type="text" name="currency" ng-model="meta.options.currency" class="form-control">
                                        <div class="icon">
                                            <i class="fa fa-dollar"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>{{txt.TXT0144}}&nbsp;({{meta.options.currency}})</label>
                                    <div class="input-wrapper">
                                        <input type="number" name="subscriptionCost" ng-model="meta.options.subscription_cost" class="form-control">
                                        <div class="icon">
                                            <i class="fa fa-money"></i>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="mm-btn-primary" ng-bind="txt.TXT0106"></button>
                            </form>
                        </div>

                    </div>
                    <!-- /.mm-user-detail -->
                </div>
                <!-- /.col-md-8 -->

                <div class="col-md-4">

                </div>
                <!-- /.col-md-4 -->

            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.mm-dynamic-section -->
</div>

<div toast='meta.toast'></div>
