<div class="mm-dashboard-header">
	<div class="mm-menu-icon-n-title">
		<span class="mm-menu-icon" id="mm-menu-icon">
			<span></span>
			<span></span>
			<span></span>
		</span>
		<span class="mm-page-title" ng-bind="heading"></span>
	</div>

	<div class="mm-user-options">
		<a ng-href="{{routes.mails}}" class="mm-bell" ng-show="userInfo.role!=='administrator'" >
			<span class="mm-num" ng-if="notification.unseen > 0">{{notification.unseen}}</span>
			<span class="fa fa-bell" ng-class="{'active': activeBell }" data-toggle="tooltip" data-placement="bottom" title="Notification"></span>
		</a>

		<a href="" class="logout" ng-click="logout()"> <i class="fa fa-power-off" data-toggle="tooltip" data-placement="bottom" title="Logout"></i> </a>
	</div>
</div><!-- /.mm-dashboard-header -->
