$sm_width               : $mm_side_menu_width;  // defined in variables => helpers => variables
.nav-close{
  .mm-dashboard-header{
    left: 0;
  }
}

.mm-dashboard-header{
    padding: 18.5px 30px;
    background-color: lighten( $color_primary, 5% );
    position: fixed;
    top: 0;
    left: $sm_width ;
    right: 0;
    z-index: 9;
    @include transition( left #{$mm_side_menu_animation} );
    @include clearfix();

    @include media(xs){  
        left: 0;
    }

    .mm-menu-icon-n-title{
    	float: left;
    	.mm-page-title{
    		font-size: 20px;
    		color: $color_white;
    		text-transform: uppercase;
    		font-weight: $font_weight_bold;
    	}
    }
    .mm-user-options{
    	float: right;

    	.logout{
		    font-size: 22px;
		    color: scale-color( $color_primary, $lightness: 80% );
		    margin-top: 4px;

		    &:hover{
		    	color: $color_white;
		    	@include transition( color 0.3s );
		    }
    	}
    }
}

$mm_total_line   : 3;
$mm_icon_width   : 25px;
$mm_lines_height : 2px;
//menu icon
.mm-menu-icon{
	width: $mm_icon_width;
	display: inline-block;
	line-height: 0.4;
	margin-right: 10px;
	cursor: pointer;

	&#{$mm_side_menu_class}{
		span{
			@for $i from 1 through $mm_total_line {
				&:nth-child(#{$i}){
					width: 100%;
				}
			}
		}
	}

	span{
		height: $mm_lines_height;
		display: inline-block;
		background-color: $color_white;
		@include transition( width #{$mm_side_menu_animation} );

		@for $i from 1 through $mm_total_line {
			&:nth-child(#{$i}){
				@if( $i != 1){
					width: 100% - ( 25* ( $i - 1 ) ) ;
				}@else{
					width: 100%;
				}
			}
		}
	}
} //.mm-menu-icon
