<div class="mm-activities mm-main-content" id="mm-main-content" nicescroll dashboard>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>

        <div class="mm-dynamic-section">

            <email-verification-notice ng-show="showNotice"></email-verification-notice>
            <div class="slide-top">
                <activities config="options"></activities>
            </div>
        </div>
        <!-- /.mm-dynamic-section -->
    </div>
    <!-- /.mm-content -->

</div>
<!-- /.mm-activities -->
