//mm-side-menu => [ sass/components/mm-side-menu ];
//mm-alert => components/ mm-alert




.mm-user-profile {
	background-color: $color_white;
	border: 1px solid $color_border;
	margin-bottom: 30px;
	// @include border-radius( 5px );

	.mm-title-n-option {
		@extend %title;
	}

	$db_user_width: 120px;
	$db_social_icon_width: 30px;
	$social_links: ( facebook $color_facebook, twitter $color_twitter, pinterest $color_pinterest );

	.mm-user-detail {
		padding: 30px 0;

		.mm-user-pic-n-social-links {
			float: left;
			padding: 0 15px 0 30px;

			.mm-user-pic {
				width: $db_user_width;
				height: $db_user_width;
				background-size: cover;
				background-color: $color_border;
				position: relative;
				@include border-radius( 50% );

				.fa-refresh {
					margin: auto;
				}

				.mm-upload-icon {

					&.active {
						opacity: 1;

						i {
							opacity: 1;
							@include scale(1);
						}
					}
				}

				&:hover {
					.mm-upload-icon {
						opacity: 1;
						@include transition( opacity 0.2s );

						i {
							opacity: 1;
							@include scale(1);
							@include transition( all 0.3s cubic-bezier(0.23, 0.2, 0.05, 1.53) );
						}
					}
				}

				.mm-upload-icon {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					opacity: 0;
					background-color: rgba( $color_black, 0.3 );
					@include border-radius( 50% );
					cursor: pointer;
					text-align: center;
					line-height: 130px;

					i {
						margin: auto;
						font-size: 30px;
						color: $color_white;
						opacity: 0;
						@include scale( 0 );
					}
				}
			}

			.mm-social-links {
				text-align: center;
				margin-top: 20px;
				@include clearfix();

				li {
					display: inline-block;

					a {
						display: inline-block;
						width: $db_social_icon_width;
						height: $db_social_icon_width;
						text-align: center;
						color: $color_white;
						line-height: $db_social_icon_width;
						@include border-radius( 50% );
						@each $social in $social_links {
							&.#{nth( $social, 1 )} {
								background-color: nth( $social, 2);
							}
						}
					}
				}
			}
		}

		//.mm-user-pic-n-social-links
		.mm-user-info {
			overflow: hidden;
			padding: 0 30px 0 15px;

			.mm-user-name {
				font-size: 15px;
				text-transform: uppercase;
				font-weight: $font_weight_bold;
			}

			.mm-address {
				@include clearfix();
				margin-top: 15px;

				.mm-address-title {
					padding: 7px 10px;
					font-weight: $font_weight_bold;
					font-size: 12px;
					color: darken( $color_white, 60% );
					background-color: darken( $color_white, 5% );
				}

				.mm-address-detail {
					padding: 7px 5px;
					font-size: 12px;

					ul{
						li{
							padding: 5px 0;
							border-bottom: 1px solid #eee;
							b{
								color: lighten( $color_black, 30% );
							}
							&:last-child{
								border-bottom: none;
							}

							.label{
								min-width: 100px;
								display: inline-block;
							}
							.info{
								display: inline-block;
								margin-left: 5px;
							}
						}
					}

					p {
						margin: 0 0 5px;
						font-size: 13px;
					}
				}
			}
		}
		//.mm-user-info

		@include media(mb){
			.mm-user-pic-n-social-links{
				float: none;
				text-align: center;
		    margin-bottom: 40px;
					.mm-user-pic{
						display: inline-block;
					}
			}
			.mm-user-info{
				overflow: initial;
			}
		}
	}
	//.mm-user-detail
}
//mm-user-profile

.mm-available_fund {
	margin-bottom: 30px;
	background-color: $color_primary;
	padding: 63px 30px;
	color: $color_white;
	text-align: center;
	// @include border-radius( 5px );

	&.error {
		background-color: lighten( $color_error, 10% );

		.mm-btn-load-fund {
			background-color: lighten( $color_error, 15% );
		}
	}

	p {
		margin: 0 0 10px;
		font-size: 16px;
	}

	h2 {
		font-size: 40px;
		margin: 30px 0 10px;
		font-weight: $font_weight_normal;

		span {
			font-size: 30px;
			//font-weight: $font_weight_normal;
		}
	}

	.mm-btn-load-fund {
		margin-top: 20px;
		display: inline-block;
		border: 1px solid $color_white;
		padding: 8px 25px;
		background-color: lighten( $color_primary, 2% );
		// @include border-radius( 5px );
	}
}
//.mm-available_fund
