<div class="mm-dashboard mm-main-content" id="mm-main-content">

	<!-- SIDE NAVIGATION AND PROFILE -->
	<side-nav></side-nav>

	<!-- MM CONTENT -->
	<div class="mm-content">

		<!-- DASHBOARD HEAD -->
		<mm-header></mm-header>

		<div class="mm-dynamic-section">
			<email-verification-notice ng-show="showNotice"></email-verification-notice>

			<div class="row">
				<div class="col-md-8" ng-if="user.role == 'customer'">
					<div class="mm-user-profile slide-top ">

						<div class="mm-title-n-option">
							<h2 ng-bind="txt.TXT0023"></h2>
						</div>
						<!-- /.mm-title-n-option -->

						<div class="mm-user-detail clearfix">
							<div class="mm-user-pic-n-social-links">

								<a ng-href="{{meta.routes.profile}}"><div class="mm-user-pic" style="background-image: url('{{meta.usermeta.userInfo.meta.avatar}}')"></div></a>

								<ul class="mm-social-links">
									<li><a href="" class="facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
							<!-- /.mm-user-pic-n-social-links -->

							<div class="mm-user-info">
								<div class="mm-user-name" ng-bind="meta.usermeta.userInfo.meta.nick_name"></div>
								<div class="mm-address">
									<div class="mm-adderess">
										<div class="mm-address-title" ng-bind="txt.TXT0039">
										</div>
										<div class="mm-address-detail">
											<ul>
												<li ng-if="meta.usermeta.userInfo.address_line1">
													<span class="label" ><b ng-bind="txt.TXT0153"></b></span>
													<span>:</span>
													<span class="info" ng-bind="meta.usermeta.userInfo.address_line1"></span>
												</li>
												<li ng-if="meta.usermeta.userInfo.address_line2">
													<span class="label" ><b ng-bind="txt.TXT0154"></b></span>
													<span>:</span>
													<span class="info" ng-bind="meta.usermeta.userInfo.address_line2"></span>
												</li>
												<li ng-if="meta.usermeta.userInfo.city">
													<span class="label" ><b ng-bind="txt.TXT0155"></b></span>
													<span>:</span>
													<span class="info" ng-bind="meta.usermeta.userInfo.city"></span>
												</li>
												<li ng-if="meta.usermeta.userInfo.state">
													<span class="label" ><b ng-bind="txt.TXT0156"></b></span>
													<span>:</span>
													<span class="info" ng-bind="meta.usermeta.userInfo.state"></span>
												</li>
												<li ng-if="meta.usermeta.userInfo.zip || meta.usermeta.userInfo.phone ">
													<span class="label" ><b ng-bind="txt.TXT0157"></b></span>
													<span>:</span>
													<span class="info">{{meta.usermeta.userInfo.zip}} - {{meta.usermeta.userInfo.phone}}</span>
												</li>
											</ul>
										</div>
									</div>

								</div><!-- /.mm-user-address  -->
							</div><!-- /.mm-user-info -->
						</div><!-- /.mm-user-detail -->

					</div>
					<!-- /.mm-user-profile -->
				</div>
				<!-- /.col-md-8 -->

				<div class="col-md-4" ng-if="user.role == 'customer' && user.is_subscriber == 1 " >
					<div class="mm-available_fund slide-top-delay-one">
						<p ng-bind="txt.TXT0022"></p>
						<h2>{{user.balance | mmCurrency}}</h2>
						<a ng-href="{{meta.routes.payment}}" class="mm-btn-load-fund" ng-bind="txt.TXT0021"></a>
					</div>
				</div> <!-- /.col-md-4 -->

				<div class="col-md-4" ng-if="user.role == 'customer' && user.is_subscriber != 1" >
					<div class="mm-available_fund slide-top-delay-one error">
						<p><i class="fa fa-warning"></i> &nbsp; {{txt.TXT0140}}</p>
						<h2><span>{{subscriptionCost | mmCurrency}}</span> </h2>
						<a ng-href="{{meta.routes.payment}}" class="mm-btn-load-fund" ng-bind="txt.TXT0142"></a>
					</div>
				</div> <!-- /.col-md-4 -->

				<br ng-if="user.role != 'customer'">
				<div class="col-md-12">
					<div class="mm-recent-mail mm-mail slide-top-delay-two">
						<mail mail-config="mailOptions" ></mail>
					</div>
					<!-- /.mm-recent-mail -->
				</div><!-- /.col-md-12 -->

			</div>
			<!-- /.row -->

		</div>
		<!-- /.mm-dynamic-section -->

	</div>
	<!-- /.mm-content -->

</div>
<!-- /.mm-dashboard -->
