.mm-service-info {
    padding: 30px;
    @extend %common-shadow-n-bg;

    @include media(mb){
        padding: 30px 15px;
    }

    .mm-title {
        margin: 0 0 15px;
        font-size: 14px;
        color: #333333;
    }

    .mm-service-decription {
        margin-bottom: 25px;
    }

    .sub-detail {
        // background: #fbfbfb;
        // border: 1px solid #eee;
        // padding: 20px;

        label {
            font-size: 13px;
            font-weight: $font_weight_bold;
        }

        .wrapper {
            margin-bottom: 20px;
        }

        .mm-btn-primary {
            padding: 8px 20px;
            @include transition( all 0s linear );

            &:hover {
                @include transition( all 0s linear );
            }
        }
    }
}
