<div class="mm-service mm-main-content" id="mm-main-content" nicescroll dashboard>

	<!-- SIDE NAVIGATION AND PROFILE -->
	<side-nav></side-nav>

	<!-- MM CONTENT -->
	<div class="mm-content">

		<!-- DASHBOARD HEAD -->
		<mm-header></mm-header>

		<div class="mm-dynamic-section mm-mail">

			<div class="mm-service-info slide-top">

				<h2 class="mm-title" ng-bind="txt.TXT0126">

				</h2>

				<div class="sub-detail clearfix">
					<form name="meta.serviceForm" ng-submit="meta.serviceForm.$valid && add()" novalidate="">

						<div class="row">
							<div class="form-group col-md-4">
								<input type="text" class="form-control" placeholder="name" name="title" ng-model="meta.serviceData.title" required=""/>
								<div ng-show=" meta.serviceForm.$submitted ||  meta.serviceForm.title.$dirty ">
									<div ng-show="meta.serviceForm.title.$error.required" ng-bind="txt.ERR009" class="mm-error-message"></div>
								</div>
							</div>

							<div class="form-group col-md-4">
								<div class="input-wrapper">
									<input type="number" class="form-control" placeholder="Price" name="cost"  ng-model="meta.serviceData.cost" required=""/>
									<div class="icon">
										<i class="fa fa-money"></i>
									</div>
								</div>
								<div ng-show=" meta.serviceForm.$submitted ||  meta.serviceForm.cost.$dirty ">
									<div ng-show="meta.serviceForm.cost.$error.required" ng-bind="txt.ERR010" class="mm-error-message"></div>
								</div>
							</div>

							<div class="form-group col-md-4">
								<lable ng-if="meta.serviceData.position.length > 0" ng-bind="txt.TXT0131"></lable>
								<div class="input-wrapper">
									<input type="number" class="form-control" placeholder="position" name="{{txt.TXT0131}}" ng-model="meta.serviceData.position" required=""/>
									<div class="icon">
										<i class="fa fa-unsorted"></i>
									</div>
								</div>
								<div ng-show=" meta.serviceForm.$submitted ||  meta.serviceForm.position.$dirty ">
									<div ng-show=" meta.serviceForm.position.$error.required  " ng-bind="txt.ERR011" class="mm-error-message"></div>
								</div>
							</div>
						</div><!-- /.row -->

						<div class="form-group">
							<label ng-bind="txt.TXT0127"></label>
							<textarea class="form-control" name="description" ng-model="meta.serviceData.description" required=""></textarea>

							<div ng-show=" meta.serviceForm.$submitted ||  meta.serviceForm.description.$dirty ">
								<div ng-show=" meta.serviceForm.description.$error.required  " ng-bind="txt.ERR012" class="mm-error-message"></div>
							</div>
						</div>

						<div class="form-group">
							<input type="checkbox" class="mm-c-radio" name="has_note" id="mm-special-request" ng-model="meta.serviceData.has_note" hidden=""/>
							<label for="mm-special-request" ng-bind="txt.TXT0128"></label>
						</div>

						<button ng-if="meta.currentAction ==='add'" type="submit" class="mm-btn-primary" ng-class="{'loader': meta.isAdding}" ng-disabled="meta.isAdding" ng-bind="txt.TXT0087"></button>
						<button ng-if="meta.currentAction === 'update'" type="submit" class="mm-btn-primary" ng-class="{'loader': meta.isUpdating}" ng-disabled="meta.isUpdating" ng-bind="txt.TXT0106"></button>
					</form>


				</div>
				<!-- /.sub detail -->
			</div>
			<!-- /.mm-service-info -->
			<br />

			<table class="slide-top-delay-one mm-table-responsive b-bottom">
				<thead>
					<th ng-bind="txt.TXT0129"></th>
					<th ng-bind="txt.TXT0127"></th>
					<th ng-bind="txt.TXT0130"></th>
					<th ng-bind="txt.TXT0131"></th>
					<th ng-bind="txt.TXT0145"></th>
					<th ng-bind="txt.TXT0036"></th>
				</thead>
				<tbody ng-hide="meta.isGetting" ng-repeat=" i in meta.services | orderBy:'position'">
					<tr class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s">
						<td  data-colname="{{txt.TXT0129}}"  ng-bind="i.title"></td>
						<td  data-colname="{{txt.TXT0127}}" ng-bind="i.description"></td>
						<td  data-colname="{{txt.TXT0130}}" ng-bind="i.cost"></td>
						<td  data-colname="{{txt.TXT0131}}" ng-bind="i.position"></td>
						<td  data-colname="{{txt.TXT0145}}" ng-if="i.has_note ==='1'" ng-bind="txt.TXT0132"></td>
						<td  data-colname="{{txt.TXT0145}}" ng-if="i.has_note !=='1'" ng-bind="txt.TXT0133"></td>
						<td  data-colname="{{txt.TXT0036}}" class="mm-actions">
							<span class="fa fa-pencil scroll-top" ng-click="set(i.id)"></span>
							<span class="fa fa-trash" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="delete( i.id )"></span>
						</td>
					</tr>
				</tbody>
			</table>

			<table-loader when="meta.isGetting" empty="meta.services.length"></table-loader>

		</div>
		<!-- /.mm-dynamic-section -->

	</div>
	<!-- /.mm-content -->

</div>
<!-- /.mm-dashboard -->

<div toast="meta.toast"></div>
