<div class="mm-main-content" id="mm-main-content" nicescroll dashboard>
    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>
    <!-- MM CONTENT -->
    <div class="mm-content">
        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>
        <div class="mm-dynamic-section mm-mail">

          <email-verification-notice ng-show="showNotice"></email-verification-notice>

            <div class="slide-top">
                <div class="mm-title-search-n-tab">
                    <div class="mm-search-n-tab" ng-show="user.role === 'administrator' ">
                        <form name="searchUser" class="mm-search ">
                            <input type="search" name="search" id="search-user" ng-model="userEmail" ng-blur="disselected()" ng-change="search()" placeholder="{{txt.TXT0187}}" >
                            <button ng-hide="meta.isSearching || userEmail.length > 0" class="fa fa-search"></button>
                            <button ng-show="meta.isSearching" class="fa fa-spinner fa-spin"></button>
                            <button ng-show="!meta.isSearching && userEmail.length > 0" class="fa fa-close" ng-click="getAllUsers()"></button>
                        </form>
                        <ul class="mm-search-user-list overflow-s" ng-show="meta.searchedUser.length > 0">
                            <li ng-repeat =" i in meta.searchedUser" ng-click="setEmail(i.id, i.email)">
                                <div class="img" width="20px" style="background-image: url('{{i.meta.avatar}}')"></div>
                                <div class="user" ng-bind="i.email"></div>
                            </li>
                        </ul>
                        <ul class="mm-search-user-list" ng-show="ischanged && meta.searchedUser.length == 0 && !meta.isSearching" >
                            <li class="no-data" ng-bind="txt.TXT0146"></li>
                        </ul>
                    </div>
                    <h2><span ng-if="!meta.selectedUser" ng-bind="txt.TXT0186"></span>  <span ng-if="meta.selectedUser"> {{txt.TXT0186}} (<span style="text-transform: capitalize;">{{meta.selectedUser}}</span>)</span> </h2>
                </div>

                <table class="mails mm-table-responsive b-bottom">
                    <thead>
                        <tr>
                            <th ng-bind="txt.TXT0091"></th>
                            <th ng-bind="txt.TXT0170"></th>
                            <th ng-bind="txt.TXT0186"></th>
                        </tr>
                    </thead>
                    <tbody dir-paginate="i in meta.transactions | orderBy: 'date' | itemsPerPage : meta.perPage" total-items="meta.totalRows" current-page="meta.currentPage">
                        <tr class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s" >
                            <td>{{ meta.perPage * ( meta.currentPage-1 ) + $index+1 }}</td>
                            <td>{{ i.created_on * 1000 | date : 'LLLL dd, yyyy H:mm a' }}</td>
                            <td>{{i.text}}<br /><b ng-if="i.message">( {{i.message}} )</b></td>
                        </tr>
                    </tbody>
                </table>

                <table-loader when="meta.isGetting" empty="meta.transactions.length"></table-loader>

                <dir-pagination-controls on-page-change="get( newPageNumber )" current-page="meta.currentPage"></dir-pagination-controls>
            </div>

        </div>
        <!-- /.mm-dynamic-section -->
    </div>
    <!-- /.mm-content -->

</div>
<!-- /.mm-main-content -->

<div toast='meta.toast'></div>
