.mm-actions {
    .fa {
        font-size: 14px;
        cursor: pointer;
        margin: 0 2px;
        font-size: 14px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        line-height: 22px;

        &.fa-trash{
            color: $color_error;
            background-color: lighten( $color_error, 30% );

            &:hover{
                background-color: $color_error;
            }
        }
        &.fa-pencil{
            color: $color_primary;
            background-color: lighten( $color_primary, 25% );

            &:hover{
                background-color: $color_primary;
            }
        }

        &:hover{
            color: $color_white;
        }
    }
}
