
.slide-top {
	@include animation( slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both );
}
.slide-top-delay-one {
	@include animation( slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both );
}
.slide-top-delay-two {
	@include animation( slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both );
}

@include keyframes ( slide-top ) {
  0% {
      opacity: 0;
	  @include translate( 0, 50px );
  }
  100% {
      opacity: 1;
	  @include translate( 0, 0 );
  }
}


.slide-left {
	@include animation( slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both );
}
@include keyframes ( slide-left ) {
  0% {
      opacity: 0;
      @include translate( 50px, 0 );
  }
  100% {
      opacity: 1;
	  @include translate( 0, 0 );
  }
}

.shake-horizontal {
	@include animation( shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both );
}


@include keyframes ( shake-horizontal ) {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(4px);
  }
  90% {
    transform: translateX(-4px);
  }
}
