.modal {
    img-crop {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .custom-import {
        padding: 30px 15px;
    }

    img-crop canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        outline: 0;
        -webkit-tap-highlight-color: transparent;
    }

    .cropArea {
        overflow: hidden;
        height: 215px;
        border: 2px dashed #ddd;
    }
    /* for image crop */
    .modal-body {
        .images-wrapper {
            background-color: #F9F9F9;
            border-bottom: 1px solid darken( $color_white, 10% );
            padding: 20px 0;

            h3 {
                margin: 0 0 10px;
                font-size: 14px;
                color: #585858;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
}
