.mm-bg-img {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("../img/mm-bg-img.jpg");
	background-size: cover;
	background-color: $color_border;

	img {
		position: fixed;
		bottom: 10px;
		left: 10px;

		@include media(xs){
			display: none;
		}
	}
}
