$saving_info_width  : 65px;
$saving_info_height : 25px;
.mm-saving{
  position: fixed;
  background: rgba( $color_black , 0.76 );
  width: $saving_info_width ;
  height: $saving_info_height;
  line-height: $saving_info_height;
  z-index: 99;
  left: 50%;
  text-align: center;
  bottom: - 15px;
  font-size: 12px;
  color: $color_white;
  opacity: 0;
  @include border-radius(18px);
  @include translate(-50%, 0);
  @include transition( bottom 0.2s cubic-bezier(0.35, 0.44, 0.29, 1.21), opacity 0.12s );

  &.active{
    bottom: 15px;
    opacity: 1;
  }
}
