.modal {
    &.ng-enter {
        @include transition( all 0.5s ease-out );
    }

    .modal-title {
        color: #6b6b6b;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .close {
        border: none;
        background: rgba( $color_black, 0.3);
        text-align: center;
        color: #fff;
        width: 30px;
        height: 30px;
        position: absolute;
        line-height: 30px;
        cursor: pointer;
        border-radius: 50%;
        right: -15px;
        top: -15px;

        &:hover {
            @include transition( background-color 0.3s ease-in-out );
            background-color: $color_error;
        }
    }

    .modal-body {
        padding: 0;

        &.mm-popup-address{
            padding: 15px 0;
        }
    }

    .modal-header {
        border-bottom: none;
        border-bottom: 1px solid darken( $color_white, 10% );

        h3 {
            margin: 0;
        }
    }

    .modal-footer {
        border-top: none;
        padding-top: 10px;
        background: #fbfbfb;

        .or-total-amount {
            color: #6b6b6b;
            font-size: 17px;
            margin-bottom: 10px;
        }

        button {
            border: none;
            padding: 6px 15px;
            background-color: $color_success;
            width: 100px;
            margin-top: 5px;
            color: $color_white;

            &:hover {
                @include transition( background-color 0.3s ease-in-out );
                background-color: darken( $color_success, 7% );
            }
        }

        .mm-btn-download {
            width: 200px;

            i {
                margin-left: 5px;
            }
        }
    }

    .modal-content {
        border: none;
        @include border-radius(0);
        @include box-shadow( none );
    }
}
//modal
