$login_width        : 350px;
$login_radius 	    : 5px;
$half_avatar_mid    : $avatar_mid_width /2; //$avatar_mid_width declear in component/avatar/mm-avatars.scss

// centering user form
.c-parent{
	@extend %table-center;
	&:after{
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 50%;
		z-index: -1;
		background-color: #5b89d2;
	}
}

.mm-user-panel-wrapper{
	// mm user options
	.mm-user-options{
		a{
			display:inline-block;
			padding: 8px 0px;
			margin: 0 15px;
			font-size: 16px;
			font-weight: $font_weight_bold;
			color: lighten( $color_black, 40% );
			@include border-radius( 5px 5px 0 0);

			&.active{
				border-bottom: 2px solid $color_primary;
			}
		}
	}

} //.mm-login-wrapper


// login form
.mm-user-panel{
	position: relative;
	width: $login_width;
	margin: 0 auto;
	max-width: 90%;
	background-color: $color_white;
	// @include box-shadow ( 0px 0px 25px 0px #a0a0a0 );

	.mm-user-options{
		padding-top: 35px ;
		margin-bottom: 45px;
		text-align: center;
	}

	form{
		padding: 0 30px 35px;

		.mm-btn-login-icon{
			position: absolute;
			left: 50%;
			bottom: -20px;
			@include translate( -50%, 0 );
		}

		.form-control{
            background-color: darken( $color_white, 5% );
            border-color: darken( $color_white, 5% );
            font-size: 13px;
        }
        .form-group {

            .input-wrapper{
                .icon{
                    border-left: darken( $color_white, 5% );
                }
            }
        }

		.mm-other-link{
			text-align: right;
			margin-bottom: 30px;
			font-size: 13px;
			font-style: italic;
			text-transform: capitalize;
			color: lighten( $color_black, 40% );
			font-weight: $font_weight_bold;
		}
	}
} //.mm-login
