// mm mail
$border-gap: 1px;

.wrapper {
    position: relative;
    margin-left: 27px;
    margin-bottom: 10px;

    &:after {
        content: "";
        bottom: calc( 100% - 1px );
        left: 10px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid white;
    }

    &:before {
        content: "";
        bottom: calc( 100% - 1px );
        left: 9px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 9px solid #e5e6e8;
    }

    input[type="text"] {
        display: block;
        padding: 8px 10px;
        @include calc( width, 100%, 27px );
    }
}

.mm-mail {
    // border: 1px solid $color_border;
    .mm-title-n-option {
        @extend %title;
    }

    .mm-title-search-n-tab {
        background-color: $color_white;
        min-height: 47px;
        // @include border-radius( 5px 5px 0 0 );
    }

}
//.mm-mail


.sub-detail{
    .mm-btn-primary[disabled]{
        cursor: not-allowed;
    }

    .mm-scan-delivery{
        margin-left: 25px;
        a{
            background: $color_primary;
            display: inline-block;
            padding: 5px 11px;
            color: $color_white;
            margin: 0 3px;
        }
    }
}

.mm-user-address-detail{
    width: 100%;
    background: #eaecef;
    margin-top: 15px;

    tr{
        border-bottom: 1px solid #c5c5c5 !important;
        &:last-child{
            border-bottom: 1px solid transparent !important;
        }
        th{
            text-transform: capitalize;
        }
        td,th{
            padding: 6px 8px;
        }
    }
}
