//mm-alert
$alert_border_color: darken( $color_border, 10% );

.mm-alert{
	line-height: 40px;
	font-size: 13px;
	font-weight: $font_weight_normal;
	.mm-icon-title{
		float: left;
		background-color: $color_error;
		color: $color_white;
		padding: 0 15px;
		// border: 1px solid $alert_border_color;
		@include border-radius( 5px 0 0 5px);
		i{
			margin-right: 5px;
		}
	}
	.mm-info{
		overflow: hidden;
		padding: 0 15px;
		background-color: lighten( $color_error, 30%);
		border: 1px solid lighten( $color_error, 20%);
	    white-space: nowrap;
   		text-overflow: ellipsis;

		b{
			margin-right: 5px;
		}

		button{
			text-transform: capitalize;
		    font-weight: bold;
		    text-decoration: underline;
			background: transparent;
			border: none;
		}
	}
	.mm-action-btn{
		float: right;

		a{
			display: block;
			padding: 0 20px;
			text-transform: uppercase;
			font-weight: $font_weight_bold;
		}
	}
}
