.mm-table-responsive{
        width: 100%;

        thead {
            tr {
                border-bottom: $border-gap solid $color_body;
                background-color: $color_white;

                th {
                    padding: 9px 10px;
                    text-align: left;
                    font-weight: $font_weight_bold;
                    color: lighten( $color_black, 10% );
                    text-transform: capitalize;
                }
            }
        }

        tbody {
            .t-row {
                cursor: pointer;
            }

            .t-row:nth-child( even ) {
                background-color: lighten( $color_border, 8% );
            }

            tr {
                background-color: $color_white; 
                border-bottom: $border-gap solid $color_body;

                &:nth-child(even), &.even {
                    background-color: lighten( $color_border, 8% );
                    border-top: $border-gap solid $color_body;
                }

                &.sub-detail {
                    background-color: darken( $color_body, 5% );

                    >td {
                        padding: 30px 10px;
                        display: none;

                        &.ng-hide-remove{
                            opacity: 0;
                        }
                        &.ng-hide-remove-active{
                            opacity: 1;
                            @include transition( opacity 1s linear );
                        }

                        > * {
                            display: none;
                        }
                    }
                }

                td {
                    padding: 9px 10px;
                    text-align: left;
                    font-size: 13px;
                    font-weight: $font_weight_normal;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        } //tbody

        &.b-bottom{
            tbody{
                tr{
                    &:last-child {
                        border-bottom: 1px solid $color_body;
                    }
                }
            }
        }
    }


@include media(xs) {
    .mm-table-responsive {
        thead {
            display: none;
        }

        tbody {
            tr:not(.sub-detail) {

                td {
                    @include clearfix();
                    display: block;
                    padding-left: 105px !important;
                    position: relative;

                    &:before {
                        content: attr(data-colname);
                        font-weight: bold;
                        position: absolute;
                        left: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 79px;
                        display: block;
                    }
                }
            }
        }
    }
}
