.mm-bell{
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  position: relative;

  .mm-num{
      position: absolute;
      left: 50%;
      background: $color_error;
      font-size: 10px;
      text-align: center;
      border-radius: 20px;
      white-space: nowrap;
      padding: 0px 5.5px;
      height: 16px;
      line-height: 14px;
      z-index: 9;
  }

  .fa-bell{
    &.active{
       @include animation( vibrate 0.1s linear 0s infinite both );
       @at-root{
         @include keyframes( vibrate ){
          0%   {  @include rotate (10) }
          25%  {  @include rotate (-10) }
          50%  {  @include rotate (0) }
          75%  {  @include rotate (10) }
          100% {  @include rotate (0) }
         }
       }
    }
  }

  *{
    color: $color_white;
  }
}
