.overflow-s{
    overflow-y: scroll;
}
.mm-search-user-list{
    position: absolute;
    right: 0;
    top: 100%;
    width: 250px;
    max-height: 300px;
    margin-top: -5px;
    background: #fff;
    z-index: 2;

    li{
        padding: 4px 5px;
        cursor: pointer;
        border-top: 1px solid #efefef;
        border-left: 1px solid #efefef;
        border-right: 1px solid #efefef;
        @include transition( all 0.1s linear );

        &:hover{
            background-color: $color_primary !important;
            color: $color_white;
            @include transition( color 0.1s linear, background-color 0.3s linear );
        }

        &:last-child{
          border-bottom: 1px solid #efefef;
        }

        .img{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            float: left;
            background-size: cover;
        }

        .user{
            overflow: hidden;
            padding-left: 5px;
            font-size: 12px;
            font-weight: 500;
        }

    }
}

.no-data{
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
