.sweet-overlay{
    background-color: rgba( $color_black, 0.8 );
}

.sweet-alert{
    padding: 50px 17px;
    @include border-radius( 0 );

    .sa-icon{
        margin: 0 auto;
    }
    h2 {
        margin-bottom: 0;
        font-size: 24px;
    }
    button{
        padding: 8px 30px;
        @include border-radius( 0 );
    }
}
