
$width: 65px;
$height: 30px;
$inactive_color: #bbbbbb;
$active_bg_color: #5d9bfb;
.mm-toggler {
    label{
        position: relative;
        background-color: #f2f2f2;
        cursor: pointer;
        display: inline-block;
        height: $height;
        @include box-shadow( 0 0 9px 1px #d8d8d8 inset );

      span{
            width: $width;
            float: left;
            height: $height;
            line-height: 27px;
            font-size: 13px;
            text-align: center;
            position: relative;
            z-index: 1;

            &:nth-child(1){
              color: #fff;
              transition: color 0.2s ease-in-out 0.1s;
            }
            &:nth-child(2){
              color: $inactive_color;
            }
      }
      &:after{
          content: "";
          top: 0;
          position: absolute;
          bottom: 0;
          height: $height;
          width: $width;
          background-color: $active_bg_color;
          left: 0;
          z-index: 0;
          transition: all 0.3s ease-in-out;
      }
    }

    label.active {
        &:after{
            left: $width;
            background-color: #a4a4a4;
        }
      span{
          &:nth-child(1){
            color: $inactive_color;
          }
          &:nth-child(2){
            color: #fff;
            transition: color 0.2s ease-in-out 0.1s;
          }
        }
    }
}
