
.mm-signup-wrapper{
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}

@include media( sm ){
    .mm-signup-c-parent{
        display: initial;
        overflow: initial;
    }
    .mm-signup-c-parent{
        .mm-user-panel-wrapper{
            display: block;
        }
    }

}
.mm-signup-form-n-payment{
    background-color: $color_white;
    position: relative;
    // margin-top: 65px;
    z-index: 9;
    @include clearfix();

    @include media( sm ){
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mm-signup-form,
    .mm-subscribe{
        padding: 30px 30px;
        text-align: left;
    }

    .mm-signup-form{
        h2{
            color: lighten( $color_black, 40% );
            font-weight: $font_weight_normal;
            margin-top: 80px;
            margin-bottom: 20px;
        }

        .form-control{
            background-color: darken( $color_white, 5% );
            border-color: darken( $color_white, 5% );
            font-size: 13px;
        }
        .form-group {

            .input-wrapper{
                .icon{
                    border-left: darken( $color_white, 5% );
                }
            }
        }
    }

    .bg-img{
        background-image: url('../img/sign-up-bg.jpg');
        background-size: cover;
    }

    .mm-subscribe{
        background: rgba( #42597b, 0.9 );
        text-align: center;
        color: $color_white;

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }

        .credit-card-form.ng-submitted{
            .ng-invalid{
                background-color: rgba( $color_error, 0.2 );
            }
        }

        .option-line{
            border: none;
            &:after{
                background-color: transparent;
                border: 1px solid rgba( $color_white, 0.8 );
                color: $color_white;
                @include box-shadow( none );
                font-style: normal;
            }
        }

        h2{
            margin: 0 0 15px;
            font-size: 16px;
            font-weight: $font_weight_normal;
        }

        .form-control{
            background-color: rgba( $color_white, 0.2 );
            border-color: rgba( $color_white, 0 );
            color: $color_white;
            font-size: 13px;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: darken( $color_white, 15% );
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: darken( $color_white, 15% );
            }

            &.ng-invalid.ng-dirty{
                background-color: rgba( $color_error, 0.2 );
            }

            option{
                color: $color_black;
            }

        }

        .form-group {
            label{
                color: $color_white;
                font-size: 10px;
                font-weight: $font_weight_normal;
            }
            .input-wrapper{
                .icon{
                    border-left: $color_white;
                    color: $color_white;
                }
            }
        }

        .mm-btn-primary{
            padding: 10px;
            display: block;
        }

        .mm-btn-success{
            font-size: 15px;
            font-weight: $font_weight_normal;
        }

    }
}

.subscription-amount{
    span{
        font-size: 12px;
        font-weight: $font_weight_normal;
        display: inline-block;
        margin-right: 5px;
    }
    b{
        font-size: 18px;
        color: $color_white;
    }
}


.forget-password{
    font-size : 12px;
    font-weight : bold;
    color: #7b7b7b;
    font-style: initial;
    &:visited{
        color: #7b7b7b;
    }
}

.mm-back-arrow{
    display: inline-block;
    background: #f7f7f7;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    position: relative;

    i{
        position: relative;
        color: #b1b1b1;
        z-index: 1;
        @include transition( all 0.2s ease-in-out );
    }
    &:hover{

        i{
            color: $color_white;
            @include transition( all 0.2s ease-in-out );
        }
        &:after{
            opacity: 1;
            @include scale( 1 );
        }
    }
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        background-color: $color_primary;
        @include border-radius( 50% );
        @include scale( 0 );
        @include transition( all 0.3s ease-in-out );
    }
}
