
<div class="c-parent mm-signup-c-parent">

	<div ng-include="'build/templates/logo.tpl.html'"></div>

	<div class="mm-user-panel-wrapper">
		<div class="mm-signup-wrapper slide-left">
			<div class="mm-signup-form-n-payment">

				<form name="stripeForm" ng-submit="stripeForm.$valid && userInfo.password === userInfo.reTypePassword && userInfo.password.length >= 8 && register( stripeForm )" class="credit-card-form" novalidate > <!-- stripeForm.$valid && createToken( stripeForm )-->
					<div class="col-md-6">
						<div class="row">
							<div class="mm-signup-form">
								<a ng-href="{{meta.routes.login}}" class="mm-back-arrow">
									<i fa class=" fa fa-arrow-left"></i>
								</a>
								<h2 ng-bind="txt.TXT002"></h2>

									<div class="form-group">
										<div class="input-wrapper">
											<input type="email" ng-model="userInfo.email" ng-change="meta.emailError=false" class="form-control" name="email" placeholder="{{txt.TXT0026}}" tabindex="1" required="" />
											<div class="icon">
												<i class="fa fa-envelope"></i>
											</div>
										</div>

										<div ng-show=" stripeForm.$submitted ||  stripeForm.email.$dirty ">
											<div ng-show=" stripeForm.email.$error.required  " ng-bind="txt.ERR001" class="mm-error-message"></div>
											<div ng-show="stripeForm.email.$error.email" ng-bind="txt.ERR003" class="mm-error-message"></div>
											<div ng-show="meta.emailError " ng-bind="meta.emailError" class="mm-error-message"></div>
										</div>
									</div>

									<div class="form-group">
										<div class="input-wrapper">
											<input type="password" class="form-control" name="password" ng-model="userInfo.password" placeholder="{{txt.TXT004}}" tabindex="2" required="" />
											<div class="icon">
												<i class="fa fa-lock"></i>
											</div>
										</div>

										<div ng-show=" stripeForm.$submitted ||  stripeForm.password.$dirty ">
											<div ng-show=" stripeForm.password.$error.required  " ng-bind=" txt.ERR002 " class="mm-error-message"></div>
											<div ng-show=" userInfo.password.length < 8 || meta.passwordError" ng-bind="txt.USR018" class="mm-error-message"></div>
										</div>
									</div>

									<div class="form-group">
										<div class="input-wrapper">
											<input type="password" class="form-control" name="reTypePassword" ng-model="userInfo.reTypePassword" placeholder="{{txt.TXT0025}}" tabindex="3" required="">
											<div class="icon">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div ng-show=" stripeForm.$submitted ||  stripeForm.reTypePassword.$dirty ">
											<div ng-show=" stripeForm.reTypePassword.$error.required  " ng-bind=" txt.ERR005 " class="mm-error-message"></div>
											<div ng-show=" stripeForm.reTypePassword.$dirty && userInfo.reTypePassword && userInfo.password != userInfo.reTypePassword " ng-bind=" txt.ERR006 " class="mm-error-message"></div>
										</div>
									</div>

									<div class="form-group mm-other-link">
										<a ng-href="{{ meta.routes.recover }}" class="forget-password" ng-bind="txt.TXT005"></a>
									</div>

							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row bg-img">
							<div class="mm-subscribe">
								    <div class="mm-credit-card-pay mm-content">

										<div class="input-wrapper">
								            <a ng-href="{{meta.routes.paypalPayment}}"  class="mm-btn-paypal"><span>{{txt.TXT0113}}</span><img src="build/assets/img/paypal.png" width="80" alt="paypal image"></a>
								        </div>
								        <div class="option-line"></div>

								        <h2 ng-bind="txt.TXT0114"></h2>


											<div class="form-group">
								                <div class="input-wrapper">
								                    <input type="text" class="form-control" name="name" ng-model="card.name" placeholder="Name" tabindex="4" required>
								                    <div class="icon">
								                        <i class="fa fa-user"></i>
								                    </div>
								                </div>
								            </div>

								            <div class="form-group">
								                <div class="input-wrapper">
								                    <input type="number" class="form-control" name="number" ng-model="card.number" placeholder="Credit No" tabindex="5" required>
								                    <div class="icon">
								                        <i class="fa fa-credit-card-alt"></i>
								                    </div>
								                </div>
								            </div>

								            <div class="form-group subscription-amount">
												<span>{{txt.TXT0152}}</span>: <b ng-bind="subscriptionCost"></b>
								            </div>

								            <div class="form-group">
								                <div class="input-wrapper">
								                    <label ng-bind="txt.TXT0116"></label>
								                    <select name="exp_month" ng-model="card.exp_month" class="form-control" tabindex="6" ng-options="value as key for (key , value) in {'Jan': 1,'Feb': 2,'Mar': 3,'Apr': 4,'May': 5,'Jun': 6,'jul': 7,'Aug': 8,'Sept': 9,'Oct': 10,'Nov': 11,'Dec': 12}" required></select>
								                </div>
								            </div>

								            <div class="form-group">
								                <div class="input-wrapper">
								                    <label ng-bind="txt.TXT0117"></label>
								                    <select name="exp_year" ng-model="card.exp_year" class="form-control" ng-options="y as y for y in years" tabindex="7" required></select>
								                </div>
								            </div>

								            <div class="form-group">
								                <div class="input-wrapper">
								                    <input type="number" class="form-control" name="cvc" ng-model="card.cvc" placeholder="CVC" tabindex="8" required>
								                    <div class="icon">
								                        <i class="fa fa-key"></i>
								                    </div>
								                </div>
								            </div>

								            <div class="input-wrapper">
								                <button type="submit" class="mm-btn-success" ng-class="{'loader':stripe.isSubscribing}" ng-disabled="stripe.isSubscribing" > Signup & Subscribe</button> <!-- ng-bind="txt.TXT0119" -->
								            </div>

								    </div><!-- /.mm-credit-card-pay -->
								</div><!-- /.load-fund-form -->
						</div>
					</div>
				</form>

			</div><!-- mm-signup-form -->
		</div><!-- /.container -->
	</div><!-- /.mm-user-panel-wrapper -->
</div><!-- c-parent -->

<!-- message -->
<div toast="stripe.toast"></div>
