<div class="mm-dashboard mm-main-content" id="mm-main-content" nicescroll>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>

        <div class="mm-dynamic-section">
            <div class="row">
                <div class="col-md-12">

                    <div class="mm-add-mm-address">

                      <div class="mm-add-mmaddress" ng-if="'update' !== meta.currentAction">
                        <h3 ng-bind="txt.TXT0086"></h3>
                        <form name="meta.form" ng-submit="meta.form.$valid && add()" novalidate>
                          <div class="mm-btn-submit">
                            <button type="submit" class="mm-btn-secondary "  ng-class="{'loader': meta.isSaving}" ng-bind="txt.TXT0107"></button>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="newMmAddress" placeholder="MM Address" ng-model="meta.mmAddress" required/>
                            <div ng-show="meta.form.newMmAddress.$dirty ">
                              <div ng-show="meta.form.newMmAddress.$error.required" class="mm-error-message" ng-bind="txt.TXT0088"></div>
                            </div>
                          </div>
                        </form>
                      </div><!-- /.mm-add-mmaddress -->

                      <div class="mm-update-mmaddress" ng-if="'update' === meta.currentAction">
                        <h3 ng-bind="txt.TXT0105"></h3>
                        <form name="mmAddressUpdate" ng-submit="mmAddressUpdate.$valid && update()" novalidate>
                          <div class="mm-btn-submit">
                            <button type="submit" class="mm-btn-secondary " ng-class="{'loader': meta.isUpdating}" ng-bind="txt.TXT0106"></button>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="updatedMmAddress" placeholder="MM Address" ng-model="meta.newMmAddress" required/>
                            <div ng-show="mmAddressUpdate.updatedMmAddress.$dirty ">
                              <div ng-show="mmAddressUpdate.updatedMmAddress.$error.required" class="mm-error-message" ng-bind="txt.TXT0088"></div>
                            </div>
                          </div>
                        </form>
                      </div><!-- /.mm-update-mmaddress -->

                    </div><!-- .mm-add-mm-address -->

                    <div class="mm-mail mm-up-ani">
                      <table class="mm-address-list mm-table-responsive b-bottom">
                      	<thead>
                      		<th ng-bind="txt.TXT0091"></th>
                      		<th ng-bind="txt.TXT0092"></th>
                      		<th ng-bind="txt.TXT0108"></th>
                      		<th ng-bind="txt.TXT0071"></th>
                      		<th ng-bind="txt.TXT0093"></th>
                      	</thead>

                      	<tbody ng-hide="meta.isGetting" dir-paginate="i in meta.data | orderBy: '-id' | itemsPerPage : meta.perPage" total-items="meta.totalRows">
                      		<tr class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s">
                      			<td data-colname="{{txt.TXT0091}}">{{ meta.perPage * ( meta.page-1 ) + $index+1 }}</td>
                      			<td ng-bind="i.mm_address" data-colname="{{txt.TXT0092}}"></td>
                                <td>
                                  <span ng-if="'yes' === i.has_assigned" class="mm-delete-user"> {{i.assigned_to_email}} <span class="fa fa-close" ng-click="unassign( i.id, i.assigned_to_id )"></span> </span>
                                  <select  ng-if="'yes' !== i.has_assigned" class="form-control" ng-change="assign( i.id )" ng-model="user.email[i.id]"  ng-options="x.id as x.email for x in meta.userMeta.unVerifiedUser"></select>
                                </td>
                                <td>
                                  <span ng-if="i.has_assigned == 'yes'" ng-bind="txt.TXT0109"></span>
                                  <span ng-if="i.has_assigned != 'yes'" ng-bind="txt.TXT0110"></span>
                                </td>
                      			<td class="mm-actions">
                      			  <i class="fa fa-trash" ng-click="delete( i.id )"></i>
                      			  <i class="fa fa-edit" ng-click="set(i.id,i.mm_address)"></i>
                      			</td>
                      		</tr>
                      	</tbody>
                      </table>

                      <table-loader when="meta.isGetting" empty="meta.data.length"></table-loader>
  				            <dir-pagination-controls on-page-change="get( newPageNumber )"></dir-pagination-controls>

                    </div>  <!-- /.mm-recent-mail -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.mm-dynamic-section -->
    </div>
    <!-- /.mm-content -->
</div>
<!-- /.mm-dashboard -->

<!-- message -->
<div toast="meta.toast"></div>
