.mm-price-info {
  padding: 10px 20px;
  background: #fbfbfb;
  border-top: 1px solid #f0f0f0;

  .mm-price {
    strong {
      font-weight: $font_weight_bold;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      padding: 3px 5px;
      font-size: 24px;
      font-weight: $font_weight_bold;
      color: lighten( $color_black, 40% );
    }
  }

  P {
    margin-bottom: 0;
    font-weight: 500;
    color: #6d6d6d;
    font-size: 12px;
    margin-top: 0;
  }
}

.btn-wrapper {
  margin-top: 15px;
}

%unseen {
  background: rgba( $color_primary, 0.2 ) !important;
  border-left: 2px solid $color_primary;
}

.customer {
  .completed.unseen,
  .unpaid.unseen,
  .unread.unseen {
    @extend %unseen;
  }
}

.administrator,
.staff {
  .pending.unseen {
    @extend %unseen;
  }
}

.mm-price-n-file {
  .form-control {
    padding: 9px 10px;
  }

  .mm-user-message {
    margin-top: 10px;

    p {
      background: $color_white;
      padding: 5px;
      margin: 5px 0 15px;
    }
  }

  h2 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }
}

.mm-attachment {
  .mm-btn-select {
    float: left;

    button {
      background: $color_primary;
      color: $color_white;
      border: none;
      padding: 6px 10px;
    }
  }

  .mm-file-info {
    overflow: hidden;
    padding-left: 10px;
    padding-top: 20px;

    .progress {
      > div {
        font-size: 9px;
        background-color: $color_success !important;
        height: 12px !important;
      }
    }
  }
}

.mails {
  tbody {
    .detail {
      width: 50%;
    }
  }
}

.mail-list {
  tbody {
    tr {
      @include transition( all 0.3s ease-in-out );

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

.mm-service-detail {
  padding: 15px 30px;
  font-size: 13px;
  font-weight: 400;
  color: #757474;

  ul {
    margin-bottom: 15px;

    li {
      margin-bottom: 5px;

      span {
        min-width: 90px;
        display: inline-block;
        font-weight: 500;
        color: #515151;
      }
    }
  }
}
