<div class="mm-dashboard mm-main-content" id="mm-main-content" nicescroll>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>


        <div class="mm-dynamic-section">
            <email-verification-notice ng-show="showNotice"></email-verification-notice>
            <div class="row">
                <div class="col-md-12">
                    <div class="mm-mail slide-top">
                        <mail mail-config="mailOptions"></mail>
                    </div><!-- /.mm-recent-mail -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->

        </div>
        <!-- /.mm-dynamic-section -->
    </div>
    <!-- /.mm-content -->
</div>
<!-- /.mm-dashboard -->

<!-- message -->
<div toast="meta.toast"></div>
