<div>

    <!-- Modal box template -->
    <script type="text/ng-template" id="download-file.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" ng-bind="txt.TXT0064" ng-if="user.role === 'customer'"></h3>
            <h3 class="modal-title" id="modal-title" ng-bind="txt.TXT0180" ng-if="user.role === 'staff'"></h3>
        </div>
        <div class="close" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </div>
        <div class="modal-body" id="modal-body">

            <div class="thread">
                <div ng-show="meta.isGettingThread" class="mm-loader">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom"></i>
                </div>

                <div class="mm-service-detail" ng-hide="meta.isGettingThread">
                    <ul ng-if="user.role === 'customer'">
                        <li>
                            <span ng-bind="txt.TXT0169"></span> {{meta.thread[0].sender.email}}
                        </li>
                        <li>
                            <span ng-bind="txt.TXT0170"></span> {{meta.thread[0].created_at}}
                        </li>
                    </ul>
                    <ul ng-if="user.role !== 'customer'">
                        <li>
                            <span ng-bind="txt.TXT0169"></span> {{meta.thread[0].receiver.email}}
                        </li>
                        <li>
                            <span ng-bind="txt.TXT0170"></span> {{meta.thread[0].created_at}}
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <span ng-bind="txt.TXT0125"></span> {{meta.thread[1].service.title}}
                        </li>
                        <li>
                            <span ng-bind="txt.TXT0170"></span> {{ meta.thread[1].created_at}}
                        </li>
                    </ul>
                    <ul>
                        <li ng-if="user.role === 'customer'">
                            <span ng-bind="txt.TXT0171"></span> {{meta.thread[2].sender.email}}
                        </li>
                        <li ng-if="user.role === 'customer'">
                            <span ng-bind="txt.TXT0170"></span> {{meta.thread[2].updated_at}}
                        </li>
                        <li>
                            <span ng-bind="txt.TXT0172"></span></span> {{meta.thread[2].filename}}
                        </li>
                        <li>
                            <span ng-bind="txt.TXT0173"></span> {{meta.thread[2].file_size}}
                        </li>
                        <li>
                            <span ng-bind="txt.TXT0170"></span> {{ mail.created_on * 1000 | date : 'LLLL dd, yyyy' }}
                        </li>
                    </ul>
                </div>
                <!-- <table-loader when="meta.isGettingThread" empty="meta.thread.length"></table-loader> -->
            </div>

            <div class="mm-price-info">
                <span class="mm-price">
                    <strong ng-bind="txt.TXT0065"></strong>
                    <span ng-if="user.role === 'customer'">{{mail.charge | mmCurrency}}</span>
                    <span ng-if="user.role === 'staff'" ng-show="!meta.isGettingThread">{{meta.thread[2].file_cost | mmCurrency}}</span>
                </span>
                <span ng-if="mail.is_paid == '1'" class="mm-completed" ng-bind="txt.TXT0168"></span>
                <p ng-if="user.role === 'customer' && mail.is_paid == '0' ">({{txt.TXT0066}})</p>
            </div>
        </div>
        <div class="modal-footer" ng-if="user.role === 'customer'">
            <button ng-if="mail.is_paid == '0'" class="btn btn-primary mm-btn-download" type="button" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="payment()">
                <span ng-bind="txt.TXT0122"></span> <i class="fa fa-download"></i>
            </button>

            <button ng-if="mail.is_paid == '1'" class="btn btn-primary mm-btn-download" type="button" ng-click="download( mail.attachment_id )">
                <span ng-bind="txt.TXT0123"></span> <i class="fa fa-download"></i>
            </button>

        </div>
    </script>

    <div class="mm-title-search-n-tab">
        <div class="mm-search-n-tab">
            <form class="mm-search" name="meta.searchForm" ng-if="data.search" ng-submit="meta.searchForm.$valid && get(0, meta.status, meta.page)" novalidate>
                <input type="search" name="mail_search" ng-keyup="clear()" ng-model="meta.searchKey" placeholder="search" required>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <ul class="mm-tab" data-status="{{ meta.status }}" ng-if="data.tab">
                <li ng-class="{ 'active' : meta.status == 'all' }">
                    <a href="" ng-click="get( 0, 'all', 1 )">
	                    {{ txt.TXT0028 }}
	                </a>
                </li>
                <li ng-class="{ 'active' : meta.status == 'unread' }">
                    <a href="" ng-click="get( 0, 'unread', 1 )">
	                    {{ txt.TXT0029 }}
	                </a>
                </li>
                <li ng-class="{ 'active' : meta.status == 'pending' }">
                    <a href="" ng-click="get( 0, 'pending', 1 )">
	                    {{ txt.TXT0030 }}
	                </a>
                </li>
                <li ng-class="{ 'active' : meta.status == 'unpaid' }">
                    <a href="" ng-click="get( 0, 'unpaid', 1 )" ng-bind="txt.TXT0183">

	                </a>
                </li>
                <li ng-class="{ 'active' : meta.status == 'completed' }">
                    <a href="" ng-click="get( 0, 'completed', 1 )">
	                    {{ txt.TXT0031 }}
	                </a>
                </li>
            </ul>
        </div>
        <h2>{{ data.title }}</h2>
    </div>

    <!-- /.mm-title-n-option -->
    <table id="mail-table" data-per-page="{{meta.perPage}}" data-total-rows="{{meta.totalRows}}" class="{{user.role}} mails mm-table-responsive b-bottom mail-list">
        <thead>
            <tr>
                <th>{{ txt.TXT0067 }}</th>
                <th ng-if="col.mail">{{ txt.TXT0033 }}</th>
                <th ng-if="user.role !=='customer'" ng-bind="txt.TXT0051"></th>
                <th ng-if="col.date">{{ txt.TXT0034 }}</th>
                <th ng-if="col.status">{{ txt.TXT0035 }}</th>
                <th ng-if="col.action">{{ txt.TXT0036 }}</th>
            </tr>
        </thead>

        <tbody ng-hide="meta.isGetting" dir-paginate="i in meta.mails | orderBy: '-group_id' | itemsPerPage : meta.perPage" total-items="meta.totalRows" ng-class-even="'even'">
            <tr class="t-row {{i.status}} slide-top" style="animation-delay:{{$index /6}}s" ng-class="{'collapse' : i.status == 'unread', 'unseen' : i.is_seen == '0' , 'mm-download': i.status == 'completed'}" data-target="#sub-{{i.id}}" ng-click="makeSeen( i ) && downloadFile( i, i.status, i.id )" ng-class-even="'even'">
                <td data-colname="{{txt.TXT0033}}" >{{ meta.perPage * ( meta.page-1 ) + $index+1 }}</td>
                <td data-colname="{{txt.TXT0051}}" ng-if="col.mail" class="detail">{{i.message}}</td>
                <td data-colname="{{txt.TXT0034}}" ng-bind="i.email" ng-if="user.role !=='customer'"></td>
                <td data-colname="{{txt.TXT0035}}" ng-if="col.date">{{ i.created_on * 1000 | date : 'LLLL dd, yyyy' }}</td>
                <td data-colname="{{txt.TXT0036}}" ng-if="col.status">
                    <span class="mm-{{i.status}}">
	                    {{i.status}}
	                </span>
                </td>
                <td data-colname="{{txt.TXT0121}}" ng-if="col.action">
                    <i class="fa fa-eye" ng-click="view( i.id )"></i>
                    <i class="fa fa-trash-o" ng-click="delete( i.id )"></i>
                </td>

            </tr>

            <tr class="sub-detail" ng-if="i.status == 'pending' && (user.role=='administrator' || user.role == 'staff')">
                <td colspan="5" id="sub-{{i.id}}">
                    <form class="clearfix mm-price-n-file" name="estimationForm" ng-submit="estimationForm.$valid && sendEstimation( i.id )" novalidate>

                        <div class="col-md-4">
                            <div class="mm-service-name">
                                <div class="mm-requested-sevice">
                                    <h2 ng-bind="txt.TXT0053"></h2>
                                    <p ng-bind="meta.services[ getIndex( i.service_id, meta.services ) ].title"></p>
                                </div>

                                <div class="mm-user-message" ng-if="meta.services[ getIndex( i.service_id, meta.services ) ].has_note == 1 && i.special_message.length > 0 ">
                                    <h2 ng-bind="txt.TXT0052"></h2>
                                    <p ng-bind="i.special_message">
                                    </p>
                                </div>

                                <div class="user-detail">
                                    <table class="mm-user-address-detail">
                                        <tbody>
                                            <tr ng-repeat="j in i.address">
                                                <th ng-bind="j.title"></th>
                                                <td>:</td>
                                                <td ng-bind="j.value"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mm-price form-group">
                                <h2 ng-bind="txt.TXT0059"></h2>
                                <input type="text" ng-keypress="onlyNum($event)" class="form-control" ng-model="meta.mails[getIndex( i.id, meta.mails )].service_cost" required/>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mm-attachment">

                                <div class="mm-btn-select">
                                    <h2 ng-bind="txt.TXT0060"></h2>
                                    <button type="file" ngf-select="upload( $file, $invalidFiles, i.id )" ng-bind="txt.TXT0058"></button>
                                </div>

                                <div class="mm-file-info">
                                    {{ meta.attachments[ i.id ].file.name }}
                                    <span class="progress" ng-show="meta.attachments[ i.id ].progress >= 0">
										<div style="height:10px; background:teal; width:{{meta.attachments[ i.id ].progress}}%" ng-bind="meta.attachments[ i.id ].progress + '%'"></div>
									</span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-12 btn-wrapper">
                            <button type="submit" class="mm-btn-primary" ng-class="{'loader': meta.isSendingEstimation}" ng-disabled="meta.isSendingEstimation" ng-bind="txt.TXT0057"></button>
                        </div>
                    </form>
                </td>
            </tr>

            <tr class="sub-detail" ng-if="i.status == 'unread' && user.role=='customer'">
                <td colspan="4" id="sub-{{i.id}}">

                    <form class="row" ng-submit="request()">
                      <div class="col-md-6" ng-repeat="j in meta.services">
                          <span>
                              <!-- ng-click="service-service[i.id] = !service-service[i.id]" -->
                              <input type="radio" id="service-{{i.id}}-{{j.id}}" ng-model="service[i.id]" name="service_{{i.id}}" ng-value="j.id" class="mm-c-radio"  hidden/>
                              <label ng-click="isScanAndDeliver( j )" for="service-{{i.id}}-{{j.id}}">{{j.title}} <span class="mm-cost">&nbsp |&nbsp <b>${{j.cost}}</b></span><span class="mm-per-page">&nbsp <b>per page</b></span></label>
                          </span>
                          <!-- for special request  -->
                          <div class="wrapper" ng-if="j.has_note == 1" ng-show="service[i.id] === j.id">
                              <input type="text" name="service_{{i.id}}" ng-model="service.sp['info'+i.id]" placeholder="Special Request" class="form-control">
                          </div>
                           <!-- for scan and deliver  -->
                          <div class="mm-scan-delivery" ng-if="j.has_delivery == 1" ng-show="service[i.id] === j.id">

                              <a href="" ng-click="setHomeAddress()"> Deliver to Home Address</a>
                              <a href="" ng-click="setOtherAddress()" >Deliver to Another Address</a>
                          </div>

                      </div>
                      <span class="col-md-12 btn-wrapper" ng-hide="j.has_delivery == 1 && service[i.id] === j.id">
                          <button type="submit" class="mm-btn-primary" ng-class="{'loader': meta.isComposing}" ng-disabled="meta.isComposing || disabledSend"  ng-bind="txt.TXT0057"></button>
                      </span>
                  </form>

                </td>
            </tr>

        </tbody>
    </table>

    <table-loader when="meta.isGetting" empty="meta.mails.length"></table-loader>

    <div ng-if="data.pagination">
        <dir-pagination-controls on-page-change="get( 0, meta.status, newPageNumber )"></dir-pagination-controls>
    </div>

    <div toast="meta.toast"></div>

</div>
