<form name="sendOtherAddress" ng-submit="sendOtherAddress.$valid && sendRequest()" class="clearfix" novalidate>
    <div class="modal-header">
        <h3 ng-bind="txt.TXT0179"></h3>
        <div class="close ng-scope" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </div>
    </div>
    <!-- /modal-header -->

    <div class="modal-body mm-popup-address">

        <div ng-show="userMeta.isGetting" class="mm-loader">
            <i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom"></i>
        </div>

        <div class="clearfix" ng-if="!userMeta.isGetting">
            <div class="col-md-6">

                <!-- Address line 1 -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0153"></label>
                    <div class="input-wrapper">
                        <input type="text" class="form-control" name="addressLineOne" ng-model="userOtherAddress.address" tabindex="1" required/>
                        <div class="icon">
                            <i class="fa fa-address-book"></i>
                        </div>
                    </div>
                    <div ng-show="sendOtherAddress.$submitted || sendOtherAddress.addressLineOne.$dirty ">
                        <div ng-show="sendOtherAddress.addressLineOne.$error.required" class="mm-error-message" ng-bind="txt.ERR016"></div>
                    </div>
                </div><!-- /.form-group -->

                <!-- City -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0155"></label>
                    <div class="input-wrapper">
                        <input type="text" class="form-control" name="city" ng-model="userOtherAddress.city" tabindex="3" required/>
                        <div class="icon">
                            <i class="fa fa-building"></i>
                        </div>
                    </div>
                    <div ng-show="sendOtherAddress.$submitted || sendOtherAddress.city.$dirty ">
                        <div ng-show="sendOtherAddress.city.$error.required" class="mm-error-message" ng-bind="txt.ERR019"></div>
                    </div>
                </div><!-- /.form-group -->

                <!-- Country -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0159"></label>
                    <div class="input-wrapper">
                        <input type="text" class="form-control" name="country" ng-model="userOtherAddress.country" tabindex="5" required/>
                        <div class="icon">
                            <i class="fa fa-globe"></i>
                        </div>
                    </div>
                    <div ng-show="sendOtherAddress.$submitted || sendOtherAddress.country.$dirty ">
                        <div ng-show="sendOtherAddress.country.$error.required" class="mm-error-message" ng-bind="txt.ERR020"></div>
                    </div>
                </div><!-- /.form-group -->

                <!-- Phone no -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0157"></label>
                    <div class="input-wrapper">
                        <input type="txt" class="form-control" name="phoneNo" ng-model="userOtherAddress.contact_no" tabindex="7" required/>
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>

                    <div ng-show="sendOtherAddress.$submitted || sendOtherAddress.phoneNo.$dirty ">
                        <div ng-show="sendOtherAddress.phoneNo.$error.required" class="mm-error-message" ng-bind="txt.ERR018"></div>
                    </div>
                </div><!-- /.form-group -->

            </div><!-- /.col-md-6 -->


            <div class="col-md-6">

                <!-- Address line 2 -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0154"></label>
                    <div class="input-wrapper">
                        <input type="text" class="form-control" name="addressLineTwo" ng-model="userOtherAddress.address2" tabindex="2" />
                        <div class="icon">
                            <i class="fa fa-map"></i>
                        </div>
                    </div>
                </div><!-- /.form-group -->

                <!-- state/province/region -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0158"></label>
                    <div class="input-wrapper">
                        <input type="text" class="form-control" name="state" ng-model="userOtherAddress.state" tabindex="4" required/>
                        <div class="icon">
                            <i class="fa fa-map"></i>
                        </div>
                    </div>
                    <div ng-show="sendOtherAddress.$submitted || sendOtherAddress.state.$dirty ">
                        <div ng-show="sendOtherAddress.state.$error.required" class="mm-error-message" ng-bind="txt.ERR017"></div>
                    </div>
                </div><!-- /.form-group -->

                <!-- zip number -->
                <div class="form-group">
                    <label ng-bind="txt.TXT0160"></label>
                    <div class="input-wrapper">
                        <input type="text" class="form-control" name="zip" ng-model="userOtherAddress.zip" tabindex="6" required/>
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div>
                    </div>
                    <div ng-show="sendOtherAddress.$submitted || sendOtherAddress.zip.$dirty ">
                        <div ng-show="sendOtherAddress.zip.$error.required" class="mm-error-message" ng-bind="txt.ERR021"></div>
                    </div>
                </div><!-- /.form-group -->

            </div><!-- /.col-md-6 -->
        </div><!-- /.clearfix -->

    </div><!-- /modal body -->

    <div class="clearfix"></div>

    <div class="modal-footer">
        <button type="submit" class="btn-round-view" ng-class="{'loader': meta.isSaving}" ng-disabled="meta.isSaving" style="width: 130px;" ng-bind="txt.TXT0057"></button>
    </div>

</form>
