
// BASIC COLOR
$color_primary      : #5d9bfb !default;
$color_secondary    : #65677c !default;
$color_border       : #e5e6e8 !default;
$color_white        : #fff !default;
$color_black        : #000 !default;
$color_success      : #00bf4f !default;
$color_error        : #ff5235 !default;
$color_warning      : #FFA500 !default;
$color_body         : #eaecef !default;
$color_paypal       : #FFC439 !default;

// SOCIAL LINKS COLOR
$color_facebook     : #3b5998;
$color_twitter      : #5d9bfb;
$color_pinterest    : #cc2127;

// FONTS
$font_primary       : 'raleway';
$font_secondary     : '';
$font_awesome       : 'FontAwesome';

// FONT WEIGHT
$font_weight_light  : 300;
$font_weight_normal : 400;
$font_weight_bold   : 600;

// SIDE MENU WIDTH
$mm_side_menu_width     : 270px;
$mm_side_menu_class     : '.nav-close';
$mm_side_menu_animation :  '0.4s ease-in-out';
