%c-e-notice {
    padding: 3px 8px;
    text-transform: capitalize;
    color: $color_white;
    font-size: 10px;
    border-radius: 20px;
}

.mm-pending {
    background-color: $color_error;
    @extend %c-e-notice;
}

.mm-unpaid {
    background-color: $color_warning;
    @extend %c-e-notice;
}

.r-gap{
    margin-left: -5px;
    margin-right: -5px;
}

.mm-unread {
    background-color: $color_primary;
    @extend %c-e-notice;
}

.mm-completed {
    background-color: $color_success;
    @extend %c-e-notice;
}

.paypal-img{
    position: absolute;
    right: 30px;
    top: 25px;
    max-width: 100%;
}

.mm-title-search-n-tab {
    @extend %title-bg-color;
    @include clearfix();
    padding: 0 10px;

    .mm-mail & {
        h2 {
            margin-top: 11px;
            @include media(mb){
                display: none;
            }
        }
    }

    .mm-search-n-tab {
        float: right;
        width: 65%;
        position: relative;

        @include media(mb){
            width: 100%;
        }

        .mm-tab {
            li {
                float: left;
            }
        }

        .mm-tab {
            float: right;
            margin-right: 15px;

            li {
                padding: 0 5px;

                &.active {
                    a {
                        &:after {
                            border: 1px solid $color_primary;
                        }
                    }
                }

                a {
                    padding: 10px;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: $font_weight_bold;
                    position: relative;

                    &:hover {
                        background-color: lighten( $color_black, 95%);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        border: 1px solid transparent;
                        @include transition( all 0.3s ease-in-out );
                    }
                }
            }
        }

        .mm-search {
            float: right;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;

            input[type='search'] {
                height: 26px;
                padding: 0 25px 0 10px;
                border: 1px solid #ddd;
                font-size: 13px;
                text-transform: capitalize;
                background-color: darken( $color_white, 7% );
                border: none;
                @include border-radius( 20px );
            }

            button {
                position: absolute;
                right: 2px;
                background: transparent;
                border: none;
                z-index: 1;
                color: lighten( $color_black, 60% );
                top: 0;
                bottom: 0;
                line-height: 23px;
            }
        }
    }
}
