.mm-add-mm-address {
    background-color: $color_white;
    padding: 15px;
    margin-bottom: 20px;

    h3 {
        margin: 5px 0 15px;
        font-size: 14px;
        text-transform: uppercase;
        color: lighten( $color_black, 20%);
    }

    .mm-btn-submit {
        width: 100px;
        float: right;

        .mm-btn-secondary {
            padding: 9px 15px;
        }
    }

    .form-group {
        overflow: hidden;
        padding: 0 5px;
    }

    .mm-btn-secondary {
        float: right;
        max-width: 100px;
    }

}//.mm-add-mm-address

.mm-update-mmaddress {
    select {
        margin-top: 5px;
    }
}

.mm-address-list {
    select {
        max-width: 200px;
        padding: 6px 10px 6px 10px;
    }
}

.mm-delete-user {
    .fa {
        color: $color_error;
        margin-left: 5px;
        font-size: 14px;
        display: inline-block;
        position: relative;
        top: 2px;
        cursor: pointer;
    }
}
