<div class="mm-dashboard mm-main-content" id="mm-main-content" nicescroll>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>

        <div class="mm-dynamic-section">
            <div class="row">
                <div class="col-md-12">

                    <div class="mm-add-mm-address slide-top">

                        <div class="mm-add-mmaddress" ng-if="'update' !== meta.currentAction">
                            <h3 ng-bind="txt.TXT0086"></h3>
                            <form name="meta.form" ng-submit="meta.form.$valid && add()" class="clearfix" novalidate>

                                <div class="r-gap">
                                    <div class="col-md-4">

                                    <!-- Address line 1 -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="addressLineOne" placeholder="{{txt.TXT0153}}" ng-model="meta.mmaddress.address_line1" tabindex="1" required/>
                                                <div class="icon">
                            						<i class="fa fa-address-book"></i>
                            					</div>
                                            </div>
                                            <div ng-show="meta.form.$submitted || meta.form.addressLineOne.$dirty ">
                                                <div ng-show="meta.form.addressLineOne.$error.required" class="mm-error-message" ng-bind="txt.ERR016"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- state/province/region -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="state" placeholder="{{txt.TXT0158}}" ng-model="meta.mmaddress.state" tabindex="4" required/>
                                                <div class="icon">
                            						<i class="fa fa-map"></i>
                            					</div>
                                            </div>
                                            <div ng-show="meta.form.$submitted || meta.form.state.$dirty ">
                                                <div ng-show="meta.form.state.$error.required" class="mm-error-message" ng-bind="txt.ERR017"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Phone no -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="number" class="form-control" name="phoneNo" placeholder="{{txt.TXT0157}}" ng-model="meta.mmaddress.phone" tabindex="7" required/>
                                                <div class="icon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                            </div>

                                            <div ng-show="meta.form.$submitted || meta.form.phoneNo.$dirty ">
                                                <div ng-show="meta.form.phoneNo.$error.required" class="mm-error-message" ng-bind="txt.ERR018"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-4">
                                    <!-- Address line 2 -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="addressLineTwo" placeholder="{{txt.TXT0154}}" ng-model="meta.mmaddress.address_line2" tabindex="2"/>
                                                <div class="icon">
                                                    <i class="fa fa-map"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Country -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="country" placeholder="{{txt.TXT0159}}" ng-model="meta.mmaddress.country" tabindex="5" required/>
                                                <div class="icon">
                                                    <i class="fa fa-globe"></i>
                                                </div>
                                            </div>
                                            <div ng-show="meta.form.$submitted || meta.form.country.$dirty ">
                                                <div ng-show="meta.form.country.$error.required" class="mm-error-message" ng-bind="txt.ERR020"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                    <div class="col-md-4">

                                    <!-- City -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="city" placeholder="{{txt.TXT0155}}" ng-model="meta.mmaddress.city" tabindex="3" required/>
                                                <div class="icon">
                                                    <i class="fa fa-building"></i>
                                                </div>
                                            </div>
                                            <div ng-show="meta.form.$submitted || meta.form.city.$dirty ">
                                                <div ng-show="meta.form.city.$error.required" class="mm-error-message" ng-bind="txt.ERR019"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- zip number -->
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="zip" placeholder="{{txt.TXT0160}}" ng-model="meta.mmaddress.zip" tabindex="6" required/>
                                                <div class="icon">
                                                    <i class="fa fa-code"></i>
                                                </div>
                                            </div>
                                            <div ng-show="meta.form.$submitted || meta.form.zip.$dirty ">
                                                <div ng-show="meta.form.zip.$error.required" class="mm-error-message" ng-bind="txt.ERR021"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </div>
                                <div class="clearfix"></div>
                                <button type="submit" class="mm-btn-secondary" ng-class="{'loader': meta.isSaving}" ng-disabled="meta.isSaving" ng-bind="txt.TXT0087"></button>

                            </form>
                        </div>
                        <!-- /.mm-add-mmaddress -->

                        <div class="mm-update-mmaddress" ng-if="'update' === meta.currentAction">
                            <h3 ng-bind="txt.TXT0105"></h3>
                            <form name="mmAddressUpdate" class="clearfix" ng-submit="mmAddressUpdate.$valid && update()" novalidate>

                                <div class="col-md-4">
                                    <!-- Address line 1 -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0153"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="addressLineOne" placeholder="{{txt.TXT0153}}" ng-model="meta.newMmAddress.address_line1" tabindex="1" required/>
                                                <div class="icon">
                            						<i class="fa fa-address-book"></i>
                            					</div>
                                            </div>
                                            <div ng-show="mmAddressUpdate.$submitted || mmAddressUpdate.addressLineOne.$dirty ">
                                                <div ng-show="mmAddressUpdate.addressLineOne.$error.required" class="mm-error-message" ng-bind="txt.TXT0153"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- state/province/region -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0158"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="state" placeholder="{{txt.TXT0158}}" ng-model="meta.newMmAddress.state" tabindex="4" required/>
                                                <div class="icon">
                            						<i class="fa fa-map"></i>
                            					</div>
                                            </div>
                                            <div ng-show="mmAddressUpdate.$submitted || mmAddressUpdate.state.$dirty ">
                                                <div ng-show="mmAddressUpdate.state.$error.required" class="mm-error-message" ng-bind="txt.TXT0154"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Phone no -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0157"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="" placeholder="{{txt.TXT0157}}" ng-model="meta.newMmAddress.phone" tabindex="7" required/>
                                                <div class="icon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                            </div>

                                            <div ng-show="mmAddressUpdate.$submitted || mmAddressUpdate.phoneNo.$dirty ">
                                                <div ng-show="mmAddressUpdate.phoneNo.$error.required" class="mm-error-message" ng-bind="txt.TXT0155"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <!-- Address line 2 -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0154"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="addressLineTwo" placeholder="{{txt.TXT0154}}" ng-model="meta.newMmAddress.address_line2" tabindex="2" />
                                                <div class="icon">
                                                    <i class="fa fa-map"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Country -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0159"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="country" placeholder="{{txt.TXT0159}}" ng-model="meta.newMmAddress.country" tabindex="5" required/>
                                                <div class="icon">
                                                    <i class="fa fa-globe"></i>
                                                </div>
                                            </div>
                                            <div ng-show="mmAddressUpdate.$submitted || mmAddressUpdate.country.$dirty ">
                                                <div ng-show="mmAddressUpdate.country.$error.required" class="mm-error-message" ng-bind="txt.TXT0157"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <!-- City -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0155"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="city" placeholder="{{txt.TXT0155}}" ng-model="meta.newMmAddress.city" tabindex="3" required/>
                                                <div class="icon">
                                                    <i class="fa fa-building"></i>
                                                </div>
                                            </div>
                                            <div ng-show="mmAddressUpdate.$submitted || mmAddressUpdate.city.$dirty ">
                                                <div ng-show="mmAddressUpdate.city.$error.required" class="mm-error-message" ng-bind="txt.TXT0156"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- zip number -->
                                    <div class="row">
                                        <div class="form-group">
                                            <label ng-bind="txt.TXT0160"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="zip" placeholder="{{txt.TXT0160}}" ng-model="meta.newMmAddress.zip" tabindex="6" required/>
                                                <div class="icon">
                                                    <i class="fa fa-code"></i>
                                                </div>
                                            </div>
                                            <div ng-show="mmAddressUpdate.$submitted || mmAddressUpdate.zip.$dirty ">
                                                <div ng-show="mmAddressUpdate.zip.$error.required" class="mm-error-message" ng-bind="txt.TXT0158"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <button type="submit" class="mm-btn-secondary " ng-class="{'loader': meta.isUpdating}" ng-disabled="meta.isSaving" ng-bind="txt.TXT0106"></button>

                            </form>

                        </div><!-- /.mm-update-mmaddress -->

                    </div>
                    <!-- .mm-add-mm-address -->

                    <div class="mm-mail slide-top-delay-one">

                        <div class="mm-title-search-n-tab">
                            <div class="mm-search-n-tab">
                                <form class="mm-search" name="mmaddress_search" ng-submit="mmaddress_search.$valid && search()" novalidate>
                                    <input type="search" name="mail_search" ng-keyup="clear()" placeholder="search" ng-model="meta.searchKey" required>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <h2 ng-bind="txt.TXT0090"></h2>
                        </div>

                        <table class="mm-address-list mm-table-responsive b-bottom">
                            <thead>
                                <th ng-bind="txt.TXT0091"></th>
                                <th ng-bind="txt.TXT0092"></th>
                                <th ng-bind="txt.TXT0160"></th>
                                <th ng-bind="txt.TXT0157"></th>
                                <th ng-bind="txt.TXT0093"></th>
                            </thead>

                            <tbody ng-hide="meta.isGetting" dir-paginate="i in meta.data | orderBy: '-id' | itemsPerPage : meta.perPage" total-items="meta.totalRows">
                                <tr class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s">
                                    <td data-colname="{{txt.TXT0091}}">{{ meta.perPage * ( meta.page-1 ) + $index+1 }}</td>
                                    <td data-colname="{{txt.TXT0092}}">{{i.address_line1}},<span ng-if="i.address_line2">{{i.address_line2}},</span>{{i.state}},{{i.city}}</td>
                                    <td data-colname="{{txt.TXT0092}}">{{i.zip}}</td>
                                    <td data-colname="{{txt.TXT0092}}">{{i.phone}}</td>
                                    <td class="mm-actions" data-colname="{{txt.TXT0093}}">
                                        <i class="fa fa-pencil scroll-top" ng-click="set( i.id, i )"></i>
                                        <i class="fa fa-trash" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="delete( i.id )"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table-loader when="meta.isGetting" empty="meta.data.length"></table-loader>
                        <dir-pagination-controls on-page-change="get( newPageNumber )"></dir-pagination-controls>

                    </div>
                    <!-- /.mm-recent-mail -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.mm-dynamic-section -->
    </div>
    <!-- /.mm-content -->
</div>
<!-- /.mm-dashboard -->

<!-- message -->
<div toast="meta.toast"></div>
