<div class="mm-activities mm-main-content" id="mm-main-content" nicescroll dashboard>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>

        <div class="mm-dynamic-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="mm-mail mm-customer mm-up-ani">

                        <div class="mm-add-mm-address slide-top clearfix">
                            <div class="mm-add-mmaddress" ng-if="meta.currentAction === 'add'">
                                <h3 ng-bind="txt.TXT0094"></h3>
                                <form name="staffForm" ng-submit="staffForm.$valid && staff.password === staff.reTypePassword && create()" novalidate>

                                    <div class="r-gap">
                                        <div class="form-group col-md-4">
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="email" placeholder="{{txt.TXT0026}}" ng-model="staff.email" required/>
                                                <div class="icon">
                            						<i class="fa fa-envelope"></i>
                            					</div>
                                            </div>

                                            <div ng-show="staff.form.email.$dirty ">
                                                <div ng-show="staff.form.email.$error.required" class="mm-error-message" ng-bind="txt.TXT0097"></div>
                                            </div>

                                            <div ng-show="staffForm.$submitted || staffForm.email.$dirty ">
                                                <div ng-show="staffForm.email.$error.required" ng-bind="txt.ERR001" class="mm-error-message"></div>
                                                <div ng-show="staffForm.email.$error.email" ng-bind="txt.ERR003" class="mm-error-message"></div>
                                                <div ng-show="meta.error.email" ng-bind="meta.error.email" class="mm-error-message"></div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <div class="input-wrapper">
                                                <input type="password" class="form-control" name="password" placeholder="{{txt.TXT0098}}" ng-model="staff.password" required />
                                                <div class="icon">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </div>

                                            <div ng-show="staffForm.$submitted ||  staffForm.password.$dirty">
                                                <div ng-show="staffForm.password.$error.required" ng-bind="txt.ERR002" class="mm-error-message"></div>
                                                <div ng-show="staff.password.length < 8 || meta.error.password" ng-bind="txt.USR018" class="mm-error-message"></div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <div class="input-wrapper">
                                                <input type="password" class="form-control" name="reTypePassword" placeholder="{{txt.TXT0025}}" ng-model="staff.reTypePassword" required />
                                                <div class="icon">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </div>
                                            <div ng-show="staffForm.$submitted ||  staffForm.reTypePassword.$dirty">
                                                <div ng-show="staffForm.reTypePassword.$error.required" ng-bind="txt.ERR005" class="mm-error-message"></div>
                                                <div ng-show="staffForm.reTypePassword.$dirty && staff.password != staff.reTypePassword" ng-bind="txt.ERR006" class="mm-error-message"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mm-btn-submit">
                                        <button type="submit" class="mm-btn-secondary " ng-class="{'loader': meta.isCreatingUser}" ng-disabled="meta.isCreatingUser" ng-bind="txt.TXT0095"></button>
                                    </div>

                                </form>
                            </div>

                            <div class="mm-add-mmaddress" ng-if="meta.currentAction === 'update'">
                                <h3 ng-bind="txt.TXT0094"></h3>
                                <form name="staffForm" ng-submit="staffForm.$valid && staff.password === staff.reTypePassword && update()" novalidate>

                                    <div class="r-gap">
                                        <div class="form-group col-md-4">
                                            <label ng-bind="txt.TXT0026"></label>
                                            <div class="input-wrapper">
                                                <input type="text" class="form-control" name="email" placeholder="{{txt.TXT0026}}" ng-model="staff.email" required ng-disabled="true" />
                                                <div class="icon">
                            						<i class="fa fa-envelope"></i>
                            					</div>
                                            </div>

                                            <div ng-show="staff.form.email.$dirty ">
                                                <div ng-show="staff.form.email.$error.required" class="mm-error-message" ng-bind="txt.TXT0097"></div>
                                            </div>

                                            <div ng-show="staffForm.$submitted || staffForm.email.$dirty ">
                                                <div ng-show="staffForm.email.$error.required" ng-bind="txt.ERR001" class="mm-error-message"></div>
                                                <div ng-show="staffForm.email.$error.email" ng-bind="txt.ERR003" class="mm-error-message"></div>
                                                <div ng-show="meta.error.email" ng-bind="meta.error.email" class="mm-error-message"></div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label ng-bind="txt.TXT0098"></label>
                                            <div class="input-wrapper">
                                                <input type="password" class="form-control" name="password" placeholder="{{txt.TXT0098}}" ng-model="staff.password" required />
                                                <div class="icon">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </div>

                                            <div ng-show="staffForm.$submitted ||  staffForm.password.$dirty">
                                                <div ng-show="staffForm.password.$error.required" ng-bind="txt.ERR002" class="mm-error-message"></div>
                                                <div ng-show="staff.password.length < 8 || meta.error.password" ng-bind="txt.USR018" class="mm-error-message"></div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label ng-bind="txt.TXT0025"></label>
                                            <div class="input-wrapper">
                                                <input type="password" class="form-control" name="reTypePassword" placeholder="{{txt.TXT0025}}" ng-model="staff.reTypePassword" required />
                                                <div class="icon">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </div>
                                            <div ng-show="staffForm.$submitted ||  staffForm.reTypePassword.$dirty">
                                                <div ng-show="staffForm.reTypePassword.$error.required" ng-bind="txt.ERR005" class="mm-error-message"></div>
                                                <div ng-show="staffForm.reTypePassword.$dirty && staff.password != staff.reTypePassword" ng-bind="txt.ERR006" class="mm-error-message"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mm-btn-submit">
                                        <button type="submit" class="mm-btn-secondary " ng-class="{'loader': meta.isUpdating}" ng-disabled="meta.isUpdating" ng-bind="txt.TXT0106"></button>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <div class="slide-top-delay-one">

                            <div class="mm-title-search-n-tab">
                            <div class="mm-search-n-tab">
                                <form class="mm-search" name="searchForm" ng-submit="searchForm.$valid && get(1)">
                                    <input type="search" name="mail_search" ng-keyup="clear()" placeholder="search" ng-model="meta.searchKey" required>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <h2 ng-bind="txt.TXT0100"></h2>
                        </div>

                            <table class="mm-table-responsive b-bottom">
                            <thead>
                                <tr>
                                    <th ng-bind="txt.TXT0067"></th>
                                    <th ng-bind="txt.TXT0026"></th>
                                    <th ng-bind="txt.TXT0036"></th>
                                </tr>
                            </thead>

                            <tbody ng-hide="meta.isGettingUsers" dir-paginate="i in meta.users | orderBy: '-id'| itemsPerPage : meta.perPage" total-items="meta.totalRows">
                                <tr class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s">

                                    <td data-colname="{{txt.TXT0067}}">{{ meta.perPage * ( meta.page-1 ) + $index+1 }}</td>
                                    <td data-colname="{{txt.TXT0026}}">{{i.email}}</td>
                                    <td class="mm-actions">
                                        <i class="fa fa-pencil scroll-top" ng-click="set( i.id, i )"></i>
                                        <i class="fa fa-trash" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="delete( i.id )"></i>
                                    </td>
                                </tr data-colname="{{txt.TXT0026}}">
                            </tbody>
                        </table>
                        </div>

                        <table-loader when='meta.isGettingUsers' empty="meta.users.length"></table-loader>

                        <dir-pagination-controls on-page-change="get( newPageNumber )"></dir-pagination-controls>

                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.mm-dynamic-section -->
    </div>
    <!-- /.mm-content -->

    <div toast="meta.toast"></div>

</div>
<!-- /.mm-activities -->
