a{
    text-decoration: none;
    color: inherit;
    
    &:hover, &:active, &:visited, &:focus{
      color: inherit;
      text-decoration: none;
    } 
}

input, textarea, button{
  &:focus, active{
    outline: none;  
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  background-color: $color_body;
}