.mm-verifying-email{
    @extend %center;
    position: fixed;
    color: $color_white;
    background: $color_white;
    display: inline-block;
    padding: 6px 15px;


    h4{
        float: left;
        margin: 0;
        color: darken( $color_white, 50% );
        font-weight: 600;
        margin-top: 7px;
        font-size: 13px;
        margin-left: 10px;
    }

    &.mm-verified{
        &.mm-error{
            .fa{
                color: $color_error;
            }
        }

        padding: 9px 15px;

        .fa{
            float: left;
            font-size: 24px;
            position: relative;
            top: -1px;
            color: $color_success;
            margin-right: 7px;
        }
        h4{
            margin: 0;
            line-height: 23px;
        }
    }

    .email-verification-loader{
        float: left;
    }
}
