<div class="c-parent">
	<div class="mm-user-panel-wrapper">

		<div class="mm-signup-wrapper mm-paypal-payment-wrapper">
			<div class="mm-signup-form-n-payment mm-paypal-payment slide-left">


				<form name="meta.payment" ng-submit="meta.payment.$valid && meta.user.password === meta.user.reTypePassword && meta.user.password.length >= 8 && pay()" class="credit-card-form" novalidate > <!-- stripeForm.$valid && createToken( stripeForm )-->
						<div class="mm-signup-form">
							<img src="build/assets/img/paypal.png" class="paypal-img" alt="paypal image">

							<a ng-href="{{registerMeta.routes.register}}" class="mm-back-arrow">
								<i fa class=" fa fa-arrow-left"></i>
							</a>
							<h2 ng-bind="txt.TXT002"></h2>

								<div class="form-group">
									<div class="input-wrapper">
										<input type="email" ng-model="meta.user.email" ng-change="meta.emailError=false" class="form-control" name="email" placeholder="{{txt.TXT0026}}" tabindex="1" required="" />
										<div class="icon">
											<i class="fa fa-envelope"></i>
										</div>
									</div>

									<div ng-show=" meta.payment.$submitted ||  meta.payment.email.$dirty ">
										<div ng-show=" meta.payment.email.$error.required  " ng-bind="txt.ERR001" class="mm-error-message"></div>
										<div ng-show="meta.payment.email.$error.email" ng-bind="txt.ERR003" class="mm-error-message"></div>
										<div ng-show="meta.emailError " ng-bind="meta.emailError" class="mm-error-message"></div>
									</div>
								</div>

								<div class="form-group">
									<div class="input-wrapper">
										<input type="password" class="form-control" name="password" ng-model="meta.user.password" placeholder="{{txt.TXT004}}" tabindex="2" required="" />
										<div class="icon">
											<i class="fa fa-lock"></i>
										</div>
									</div>

									<div ng-show=" meta.payment.$submitted ||  meta.payment.password.$dirty ">
										<div ng-show=" meta.payment.password.$error.required  " ng-bind=" txt.ERR002 " class="mm-error-message"></div>
										<div ng-show=" meta.user.password.length < 8 || meta.passwordError" ng-bind="txt.USR018" class="mm-error-message"></div>
									</div>
								</div>

								<div class="form-group">
									<div class="input-wrapper">
										<input type="password" class="form-control" name="reTypePassword" ng-model="meta.user.reTypePassword" placeholder="{{txt.TXT0025}}" tabindex="3" required="">
										<div class="icon">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div ng-show=" meta.payment.$submitted ||  meta.payment.reTypePassword.$dirty ">
										<div ng-show=" meta.payment.reTypePassword.$error.required  " ng-bind=" txt.ERR005 " class="mm-error-message"></div>
										<div ng-show=" meta.payment.reTypePassword.$dirty && meta.user.reTypePassword && meta.user.password != meta.user.reTypePassword " ng-bind=" txt.ERR006 " class="mm-error-message"></div>
									</div>
								</div>

								<div class="form-group mm-other-link">
									<a ng-href="{{registerMeta.routes.recover}}" class="forget-password" ng-bind="txt.TXT005"></a>
								</div>
								<br/>

                                <button type="submit" class="mm-btn-success" ng-class="{'loader':meta.isregistering}" ng-bind="txt.TXT0175"></button>

						</div>
				</form>

			</div><!-- mm-signup-form -->
		</div><!-- /.container -->

	</div><!-- /.mm-user-panel-wrapper -->
</div><!-- /.c-parent -->
