%msg-c-properties {
    font-size: 14px;
    font-family: $font_awesome;
    margin-right: 7px;
}

.mm-message {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 99;
    color: $color_white;
    padding: 6px 16px;
    font-size: 13px;
    opacity: 0;
    text-transform: capitalize;
    @include translate( -50%, 50px );
    @include border-radius( 20px );
    @include transition( opacity 0.1s, transform 0.2s ease-out );

    &.active {
        opacity: 1;
        @include translate( -50%, -20px );
        @include transition( transform 0.2s cubic-bezier(0.35, 0.44, 0.29, 1.21), opacity 0.12s );
    }

    &.success {
        background: $color_success;

        &:before {
            content: "\f00c";
            @extend %msg-c-properties;
        }
    }

    &.error {
        background:  $color_error;

        &:before {
            content: "\f071";
            @extend %msg-c-properties;
        }
    }
    &.loading{
      background-color: $color_primary;
      i{
        color: $color_white;
        margin-left: -3px;
        display: inline-block !important;
      }
    }
}
