%center {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	@include translate( -50%, -50% );
}

%title-bg-color {
	border-bottom: 2px solid $color_body;
	line-height: 28px;

	h2 {
		overflow: hidden;
		margin: 0;
		font-size: 15px;
		font-weight: $font_weight_bold;
		text-transform: uppercase;
	}
}

%common-shadow-n-bg {
	background: $color_white;
	@include box-shadow(0 2px 5px 1px #ddd);
}

%table-center {
	display: table;
	width: 100%;
	height: 100vh;

	.mm-user-panel-wrapper {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 30px 0;
	}
}

$mm_option_width: 100px;

%title {
	@extend %title-bg-color;
	padding: 10px;
	background-color: $color_white;
	// @include border-radius( 5px 5px 0 0 );

	.mm-options {
		float: right;
		cursor: pointer;
		font-size: 20px;
		position: relative;

		&.active {
			i {
				color: $color_primary;
			}

			ul {
				visibility: visible;
				opacity: 1;
				@include translate( 0, 0 );
			}
		}

		i {
			color: lighten( $color_black, 40%);

			&:hover {
				color: $color_primary;
			}
		}

		ul {
			position: absolute;
			width: $mm_option_width;
			right: -5px;
			background: #fff;
			z-index: 9;
			font-size: 12px;
			font-weight: 500;
			opacity: 0;
			visibility: hidden;
			@include translate( 0, 5px );
			@include box-shadow (0 2px 6px 0px lighten( $color_black, 80% ));
			@include border-radius (5px);
			@include transition( all 0.2s ease-in-out );

			li {
				&:first-child {
					a {
						@include border-radius( 5px 5px 0 0 );
					}
				}

				&:last-child {
					a {
						@include border-radius( 0 0 5px 5px );
					}
				}

				a {
					padding: 2px 15px;
					display: block;
					line-height: 1.9;
					text-transform: capitalize;
					color: lighten( $color_black, 40%);

					&:hover {
						background-color: $color_primary;
						color: $color_white;
					}
				}
			}
		}
	}
}
