.mm-profile {
    .mm-recent-mail,
    .mm-user-profile {
        margin: 0 0 30px;
    }

    .user-detail {
        margin-top: 15px;

        &.active {}

        .form-control {
            border: none;
            padding: 3px 0;
            font-size: 13px;
            border: 1px solid transparent;
            @include transition( all 0.3s ease-in-out );

            &:focus, &.ng-empty{
                padding: 3px 5px;
                border: 1px solid darken( $color_white, 10% );
            }
        }
    }
}

.mm-recent-activities {
    .no {
        padding: 15px;
        background-color: $color_white;
    }
}

.mm-change-pswd {
    form {
        margin-top: 30px;
        border-top: 1px solid #ddd;
        padding-top: 15px;
    }

    .mm-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #4a4a4a;
        margin: 0 0 10px;

        span {
            float: right;
            cursor: pointer;
            font-size: 18px;
            margin-top: 2px;
        }
    }
}

.mm-user-address{
    background: #f3f3f3;
    padding: 15px;
    label{
        text-transform: capitalize;
        margin-top: 10px;
        &:first-child{
            margin-top: 0;
        }
    }

    input{
        padding: 3px 5px !important;
    }

}
