
<script type="text/ng-template" id="editProfilePic.html">
    <div class="modal-header">
    	<h3 ng-bind="txt.TXT0046"></h3>
    </div><!-- /modal-header -->

    <div class="modal-body">
	    <div class="row">
		    <div ng-hide="cropArea" class="col-sm-12">
			    <div class="drop-zone">
				    <i class="font-icon font-icon-cloud-upload-2"></i>
				    <div class="drop-zone-caption" ng-bind="TXT0048"> </div>
				    <div class="custom-import custom-button">
                        <input class="import-field" type="file" name="name" id="fileInput" value="1" placeholder="">
				    </div>
			    </div> <!-- /form-group -->
		    </div> <!-- /col-md-12 -->

		    <div class="col-md-12" ng-show="cropArea">
			    <div class="images-wrapper clearfix">
				    <div class="col-sm-7">
					    <h3 ng-bind="txt.TXT0048"></h3>
					    <div class="cropArea" >
					    	<img-crop
					    		area-type="square"
					    		image="profilePic"
					    		result-image="croppedProfilePic">
					    	</img-crop>
					    </div>
				    </div>
				    <div class="col-sm-5">
				    	<h3 ng-bind="txt.TXT0049"></h3>
				    	<img ng-src="{{croppedProfilePic}}" />
				    </div>
			    </div><!-- /images-wrapper -->
		    </div><!-- /col-md-12 -->

	    </div> <!-- /row-->
    </div> <!-- /modal body -->

    <div class="modal-footer">
    	<button type="submit" class="btn-round-view" ng-click="cancel()" ng-bind="txt.TXT0047"></button>
    </div>
</script>


<div class="mm-profile mm-main-content" id="mm-main-content" nicescroll dashboard>

    <!-- SIDE NAVIGATION AND PROFILE -->
    <side-nav></side-nav>

    <!-- MM CONTENT -->
    <div class="mm-content">

        <!-- DASHBOARD HEAD -->
        <mm-header></mm-header>

        <div class="mm-dynamic-section">

            <email-verification-notice ng-show="showNotice"></email-verification-notice>

            <div class="row">
                <div class="col-md-8 slide-top">
                    <div class="mm-user-profile">

                        <div class="mm-title-n-option">
                            <h2>{{txt.TXT0013}}</h2>
                        </div><!-- /.mm-title-n-option -->

                        <div class="mm-user-detail">
                            <div class="mm-user-pic-n-social-links">
                                <div class="mm-user-pic" style="background-image: url({{meta.usermeta.userInfo.meta.avatar}})"> 
                                  <div class="mm-upload-icon" ng-click="editProfilePic()" ng-if="!meta.usermeta.isprofileUpdating">
                                    <i class="fa fa-camera"></i>
                                  </div>
                                  <div class="mm-upload-icon active" ng-if="meta.usermeta.isprofileUpdating">
                                    <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
                                  </div>
                                </div>
                                <ul class="mm-social-links">
                                    <li><a href="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div><!-- /.mm-user-pic-n-social-links -->

                            <div class="mm-user-info">

                                <form action="" class="user-detail" name="userFrom">

                                  <div class="form-group">
                                    <label ng-bind="txt.TXT0040"></label>
                                    <input type="text" name="mm_nick_name" ng-blur="update( 'nick_name' )" ng-model="meta.usermeta.userInfo.meta.nick_name" class="form-control" value="">
                                  </div>

                                  <div class="form-group">
                                    <label ng-bind="txt.TXT0026"></label>
                                    <input type="email" name="email" class="form-control" value="" ng-model="meta.usermeta.userInfo.email" disabled >
                                  </div>

                                  <div class="form-group" ng-if="user.role === 'customer'">
                                    <label ng-bind="txt.TXT0039"></label>
                                    <span ng-if="meta.usermeta.userInfo.address_line1">{{meta.usermeta.userInfo.address_line1}}, </span>
                                    <span ng-if="meta.usermeta.userInfo.address_line2">{{meta.usermeta.userInfo.address_line2}}, </span>
                                    <span ng-if="meta.usermeta.userInfo.state">{{meta.usermeta.userInfo.state}}, </span>
                                    <span ng-if="meta.usermeta.userInfo.city">{{meta.usermeta.userInfo.city}} </span>
                                  </div>

                                  <div class="form-group">
                                    <label ng-bind="txt.TXT0041"></label>
                                    <div class="mm-user-address">

                                        <!-- Address Line 1 -->
                                        <label>Address Line 1</label>
                                        <input type="text" ng-blur="update( 'address' )" ng-model="meta.usermeta.userInfo.meta.address" name="home_address" class="form-control" value="">

                                        <!-- Address Line 2 -->
                                        <label>Address Line 2</label>
                                        <input type="text" ng-blur="update( 'address2' )" ng-model="meta.usermeta.userInfo.meta.address2" name="home_address2" class="form-control" value="">

                                        <!-- City -->
                                        <label>City</label>
                                        <input type="text" ng-blur="update( 'city' )" ng-model="meta.usermeta.userInfo.meta.city" name="home_city" class="form-control" value="">

                                        <!-- State/Province/Region -->
                                        <label>State/Province/Region</label>
                                        <input type="text" ng-blur="update( 'state' )" ng-model="meta.usermeta.userInfo.meta.state" name="home_state" class="form-control" value="">

                                        <!-- Country -->
                                        <label>Country</label>
                                        <input type="text" ng-blur="update( 'country' )" ng-model="meta.usermeta.userInfo.meta.country" name="home_country" class="form-control" value="">

                                        <!--  Zip code-->
                                        <label>Zip</label>
                                        <input type="text" ng-blur="update( 'zip' )" ng-model="meta.usermeta.userInfo.meta.zip" name="home_zip" class="form-control" value="">

                                        <!-- Contact no -->
                                        <label ng-bind="txt.TXT0042"></label>
                                        <input type="text" ng-blur="update( 'contact_no' )" ng-model="meta.usermeta.userInfo.meta.contact_no" name="contact_no" class="form-control" >
                                    </div>
                                  </div>

                                  <div class="form-group">

                                  </div>

                                  <div data="{{user}}" class="form-group" ng-if="user.role === 'customer' ">
                                    <label ng-bind="txt.TXT0043"></label>
                                    <p>
                                      <b>{{user.balance | mmCurrency }}</b>
                                    </p>
                                  </div>

                                </form>
                                <!-- /.mm-user-address  -->

                                <div class="mm-change-pswd">
                                    <form name="meta.usermeta.changePasswordForm" ng-submit="meta.usermeta.changePasswordForm.$valid && meta.usermeta.password.new.length >= 8 && meta.usermeta.password.confirm === meta.usermeta.password.new && changePasswrod()" novalidate>
                                        <h2 class="mm-title">{{txt.TXT0167}} <span class="fa fa-chevron-circle-down toggle-ele" data-target=".options" ></span></h2>
                                        <div class="options" hidden="">

                                            <div class="form-group" >
                                                <div class="input-wrapper">
                                                    <input type="password" name="oldPassword" placeholder="Old Password" class="form-control" ng-model="meta.usermeta.password.old" required=""/>
                                                    <div class="icon">
                                                        <i class="fa fa-key"></i>
                                                    </div>
                                                </div>
                                                <div ng-show=" meta.usermeta.changePasswordForm.$submitted ||  meta.usermeta.changePasswordForm.oldPassword.$dirty ">
                                                    <div ng-show=" meta.usermeta.changePasswordForm.oldPassword.$error.required" ng-bind=" txt.ERR002 " class="mm-error-message"></div>
                                                </div>
                                            </div>

                                            <div class="form-group" >
                                                <div class="input-wrapper">
                                                    <input type="password" name="newPassword" placeholder="New Password" class="form-control" ng-model="meta.usermeta.password.new" required=""/>
                                                    <div class="icon">
                                                        <i class="fa fa-key"></i>
                                                    </div>
                                                </div>
                                                <div ng-show=" meta.usermeta.changePasswordForm.$submitted ||  meta.usermeta.changePasswordForm.newPassword.$dirty ">
                                                    <div ng-show=" meta.usermeta.changePasswordForm.newPassword.$error.required" ng-bind=" txt.ERR002 " class="mm-error-message"></div>
                                                    <div ng-show=" meta.usermeta.changePasswordForm.newPassword.$dirty && meta.usermeta.password.new.length < 8 " ng-bind="txt.USR018" class="mm-error-message"></div>
                                                </div>
                                            </div>

                                            <div class="form-group" >
                                                <div class="input-wrapper">
                                                    <input type="password" name="confirmPassword" placeholder="confirm Password" class="form-control" ng-model="meta.usermeta.password.confirm" required=""/>
                                                    <div class="icon">
                                                        <i class="fa fa-key"></i>
                                                    </div>
                                                </div>
                                                <div ng-show=" meta.usermeta.changePasswordForm.$submitted ||  meta.usermeta.changePasswordForm.confirmPassword.$dirty ">
                                                    <div ng-show="meta.usermeta.password.confirm !== meta.usermeta.password.new" ng-bind="txt.TXT0147" class="mm-error-message"></div>
                                                </div>
                                            </div>

                                            <button type="submit"  ng-class="{'loader': meta.usermeta.isPasswordUpdating}" ng-disabled="meta.usermeta.isPasswordUpdating" class="mm-btn-primary" ng-bind="txt.TXT0148"></button>

                                        </div>
                                    </form>
                                </div><!-- /.mm-change-pswd -->

                            </div><!-- /.mm-user-info -->
                        </div><!-- /.mm-user-detail -->

                    </div>
                    <!-- /.mm-user-profile -->
                </div>
                <!-- /.col-md-8 -->

                <div class="col-md-4 slide-top-delay-one">
                    <activities config="{pagination:false, limit: 7}"></activities>
                </div>

            </div><!-- /.row -->
        </div><!-- /.mm-dynamic-section -->

    </div>
    <!-- mm-content -->
</div>

<div toast="meta.usermeta.toast"></div>

<div class="mm-saving" ng-class="{'active': meta.usermeta.savingRequestNo > 0}" ng-bind="txt.TXT0174">
</div><!-- /.profile -->
