<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 235.2 79.7" style="enable-background:new 0 0 235.2 79.7;width: 150px;
    position: fixed;
    z-index: 9; top: 15px; left: 15px; height: 50px;"  xml:space="preserve">
	<style type="text/css">
		.st0 {
			fill-rule: evenodd;
			clip-rule: evenodd;
			fill: #fff;
		}
	</style>
	<path
		class="st0"
		d="M88.5,44l-3,11.9h6.1l-3-11.9H88.5z M82.6,65.5h-3.9c-0.5,0-0.7-0.3-0.5-0.9l6.5-24.7c0.2-0.6,0.6-0.9,1.2-0.9
	h5.5c0.7,0,1.1,0.3,1.2,0.9l6.5,24.7c0.2,0.6,0,0.9-0.5,0.9h-4c-0.3,0-0.5-0.1-0.6-0.2c-0.1-0.1-0.2-0.3-0.2-0.7l-1.2-4.5h-8
	l-1.2,4.5c-0.1,0.3-0.1,0.6-0.3,0.7C83,65.5,82.8,65.5,82.6,65.5z"/>
	<path
		class="st0"
		d="M100.5,64.6V45.4c0-0.6,0.3-0.9,0.8-0.9h3.5c0.6,0,0.9,0.3,0.9,0.9v19.3c0,0.4-0.1,0.6-0.2,0.7
	s-0.3,0.2-0.6,0.2h-3.5C100.7,65.5,100.5,65.2,100.5,64.6z M100.5,41v-3.6c0-0.5,0.3-0.8,0.8-0.8h3.6c0.5,0,0.8,0.3,0.8,0.8V41
	c0,0.5-0.3,0.8-0.8,0.8h-3.6C100.7,41.8,100.5,41.5,100.5,41z"/>
	<path
		class="st0"
		d="M111.8,65.5h-3.5c-0.6,0-0.9-0.3-0.9-0.9V45.4c0-0.6,0.3-0.9,0.9-0.9h3.5c0.6,0,0.9,0.3,0.9,0.9v1.4h0.2
	c0.3-0.7,0.8-1.3,1.6-1.7c0.8-0.4,1.6-0.6,2.4-0.6h1.5c0.5,0,0.8,0.3,0.8,0.9v2.8c0,0.3-0.1,0.6-0.2,0.7c-0.1,0.1-0.3,0.2-0.6,0.1
	h-2.8c-1.9,0-2.8,1.1-2.8,3.2v12.4C112.6,65.2,112.3,65.5,111.8,65.5z"/>
	<path
		class="st0"
		d="M126.4,51.9h4.4c0.9,0,1.5-0.2,1.9-0.6c0.4-0.4,0.5-1,0.5-1.8V46c0-0.9-0.2-1.5-0.5-1.9c-0.4-0.4-1-0.6-1.9-0.6
	h-4.4c-0.3,0-0.5,0.2-0.5,0.5v7.4C125.9,51.7,126.1,51.9,126.4,51.9z M125,65.5h-3.5c-0.6,0-0.9-0.3-0.9-0.9V39.9
	c0-0.6,0.3-0.9,0.9-0.9h10c2.1,0,3.8,0.6,5,1.7c1.2,1.2,1.8,2.8,1.8,5v3.9c0,2.1-0.6,3.8-1.8,5c-1.2,1.2-2.8,1.7-5,1.7h-5.2
	c-0.3,0-0.5,0.2-0.5,0.5v7.8C125.9,65.2,125.6,65.5,125,65.5z"/>
	<path
		class="st0"
		d="M147.1,61h2.1c0.9,0,1.5-0.2,1.9-0.5c0.4-0.4,0.6-1,0.6-1.9v-7.2c0-0.9-0.2-1.5-0.6-1.9c-0.4-0.4-1-0.5-1.9-0.5
	h-2.1c-0.9,0-1.5,0.2-1.9,0.5c-0.4,0.4-0.5,1-0.5,1.9v7.2c0,0.9,0.2,1.5,0.5,1.9C145.6,60.9,146.3,61,147.1,61z M150,65.5h-3.7
	c-2.2,0-3.8-0.6-5-1.7c-1.2-1.2-1.8-2.8-1.8-5v-7.6c0-2.2,0.6-3.8,1.8-5c1.2-1.2,2.9-1.7,5-1.7h3.7c2.1,0,3.8,0.6,5,1.7
	c1.2,1.2,1.8,2.8,1.8,5v7.6c0,2.1-0.6,3.8-1.8,5C153.8,64.9,152.2,65.5,150,65.5z"/>
	<path
		class="st0"
		d="M166.9,65.5h-7.8c-0.5,0-0.8-0.3-0.8-0.9V62c0-0.3,0.1-0.5,0.2-0.6c0.1-0.1,0.3-0.2,0.7-0.2h6.9
	c1.3,0,2-0.4,2-1.2v-0.2c0-0.7-0.6-1.3-1.7-1.9l-4.1-2.3c-1.4-0.7-2.4-1.5-3.1-2.3c-0.7-0.8-1-1.9-1-3.2c0-1.9,0.5-3.3,1.5-4.2
	c1-0.9,2.6-1.4,4.8-1.4h6.9c0.5,0,0.8,0.3,0.8,0.9v2.7c0,0.3-0.1,0.5-0.2,0.6c-0.1,0.1-0.3,0.2-0.7,0.2h-5.7c-1.3,0-2,0.3-2,1v0.2
	c0,0.6,0.6,1.2,1.8,1.9l4.2,2.5c1.4,0.8,2.4,1.6,3,2.4c0.6,0.8,0.9,1.9,0.9,3.2C173.4,63.7,171.2,65.5,166.9,65.5z"/>
	<path
		class="st0"
		d="M174.7,40.2c0-0.6,0.3-0.9,0.9-0.9h3.5c0.6,0,0.9,0.3,0.9,0.9v3.9c0,0.3,0.2,0.5,0.5,0.5h3.2
	c0.6,0,0.9,0.3,0.9,0.9v2.8c0,0.3-0.1,0.5-0.2,0.6c-0.1,0.1-0.3,0.2-0.7,0.2h-3.2c-0.3,0-0.5,0.2-0.5,0.5v9.1c0,0.8,0.2,1.5,0.6,1.8
	c0.4,0.4,1,0.6,1.9,0.6h1.6c0.6,0,0.9,0.3,0.9,0.9v2.8c0,0.3-0.1,0.5-0.2,0.6c-0.1,0.1-0.3,0.2-0.7,0.2h-2.5c-2.2,0-3.8-0.6-5-1.7
	c-1.2-1.2-1.8-2.8-1.8-4.9V40.2z"/>
	<path
		class="st0"
		d="M186.5,64.6V45.4c0-0.6,0.3-0.9,0.8-0.9h3.5c0.6,0,0.9,0.3,0.9,0.9v19.3c0,0.4-0.1,0.6-0.2,0.7
	c-0.1,0.1-0.3,0.2-0.6,0.2h-3.5C186.7,65.5,186.5,65.2,186.5,64.6z M186.5,41v-3.6c0-0.5,0.3-0.8,0.8-0.8h3.6c0.5,0,0.8,0.3,0.8,0.8
	V41c0,0.5-0.3,0.8-0.8,0.8h-3.6C186.7,41.8,186.5,41.5,186.5,41z"/>
	<path
		class="st0"
		d="M197.8,65.5h-3.5c-0.6,0-0.9-0.3-0.9-0.9V45.4c0-0.6,0.3-0.9,0.9-0.9h3.5c0.6,0,0.9,0.3,0.9,0.9v1.4h0.2
	c0.6-1.5,1.9-2.2,4-2.2h1.3c4.3,0,6.5,2.2,6.5,6.7v13.4c0,0.6-0.3,0.9-0.9,0.9h-3.5c-0.6,0-0.9-0.3-0.9-0.9V51.5
	c0-0.9-0.2-1.5-0.6-1.9c-0.4-0.4-1-0.6-1.9-0.6h-1.5c-1.9,0-2.8,1-2.8,3.1v12.5C198.6,65.2,198.3,65.5,197.8,65.5z"/>
	<path
		class="st0"
		d="M224,56.9v-7.4c0-0.3-0.2-0.5-0.5-0.5h-3.9c-0.9,0-1.5,0.2-1.9,0.6c-0.4,0.4-0.5,1-0.5,1.9v6.1
	c0,0.9,0.2,1.5,0.5,1.9c0.4,0.4,1,0.5,1.9,0.5h1.5C223,60,224,59,224,56.9z M219.8,64.6h-1.4c-2.1,0-3.7-0.6-4.8-1.7
	c-1.1-1.2-1.6-2.8-1.6-5v-6.6c0-2.2,0.6-3.8,1.8-5c1.2-1.2,2.9-1.7,5-1.7h9.5c0.6,0,0.9,0.3,0.9,0.9v20.3c0,2.1-0.6,3.8-1.8,4.9
	c-1.2,1.2-2.9,1.7-5,1.7h-7.9c-0.3,0-0.6-0.1-0.7-0.2c-0.1-0.1-0.2-0.3-0.2-0.6v-2.8c0-0.6,0.3-0.9,0.9-0.9h7c0.9,0,1.5-0.2,1.9-0.6
	c0.4-0.4,0.6-1,0.6-1.8v-3.1h-0.2c-0.3,0.7-0.8,1.3-1.6,1.7C221.4,64.4,220.6,64.6,219.8,64.6z"/>
	<path
		class="st0"
		d="M29,8.7c0-1.1,0.9-1.9,1.9-1.9c0.4,0,0.8,0.1,1.1,0.3l13.6,9.5l-12.3,7L29.1,9.3C29.1,9.1,29,8.9,29,8.7z
	 M5.2,43.6c0-0.7,0.4-1.3,1-1.7l27.7-16.5l13.4-7.9L58.5,11c0.4-0.2,0.7-0.3,1-0.3c1.1,0,1.9,0.9,1.9,1.9c0,0.2,0,0.3-0.1,0.5
	l-2.3,12.7l13.8,9.7c0.6,0.3,0.9,0.9,0.9,1.6c0,1-0.8,1.9-1.9,1.9l-15.7,1.6l-5.8,29.9c-0.1,1-0.9,1.7-1.9,1.7c-0.7,0-1.4-0.4-1.7-1
	l-14-24l20.8-27.8c0.3-0.5-0.3-1-0.8-0.6l-27,23.9L7.2,45.5C6.1,45.5,5.2,44.7,5.2,43.6z"/>
</svg>
