.mm-compose {
    position: fixed;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    right: 15px;
    background: $color_white;
    padding: 15px;
    box-shadow: 0 0 8px 0 #ddd;
    z-index: 9;
    @include translate( 0, 50px );
    opacity: 0;
    visibility: hidden;
    @include transition( all 0.2s ease-out );

    &:hover {
        .mm-compose-title {
            i {
                @include transition( color 0.3s linear );
                @include scale(1);
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
        @include translate( 0, 0px );
        @include transition( all 0.4s ease-out );
    }

    .mm-compose-title {
        background: $color_primary;
        margin: -15px -15px 15px;
        padding: 8px 15px;
        color: #fff;

        i {
            float: right;
            font-size: 16px;
            cursor: pointer;
            @include transition( color 0.5s linear );
            @include scale(0);

            &:hover {
                color: darken( $color_white, 10% );
                @include scale( 1.2 );
            }
        }
    }
}

.mm-customer {
    .mm-search-n-tab {
        .mm-search {
            margin-bottom: 10px;
        }
    }
}

.mm-msg-compose {
    cursor: pointer;
    display: inline-block;
    padding: 2px 6px;
    color: $color_white;
    background: $color_success;
    font-size: 12px;
    @include transition( all 0.1s linear );

    &:hover {
        background-color: darken( $color_success, 5% );
        @include transition( all 0.15s linear );
    }
}
