<div class="mm-dashboard mm-main-content" id="mm-main-content" nicescroll>

    <side-nav></side-nav>

    <div class="mm-content">

        <mm-header></mm-header>

        <div class="mm-dynamic-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="mm-mail mm-customer slide-top">

                        <div class="mm-title-search-n-tab">
                            <div class="mm-search-n-tab">
                                <form class="mm-search" name="mmaddress_search" ng-submit="mmaddress_search.$valid && searchMmaddress(search)">
                                    <input type="search" name="mail_search" ng-keyup="clear()" placeholder="{{txt.TXT0101}}" ng-model="meta.usermeta.searchKey" required>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <h2>{{txt.TXT0102}}</h2>
                        </div>

                        <table class="mm-table-responsive b-bottom">
                            <thead class="hidden-xs">
                                <tr>
                                    <th ng-bind="txt.TXT0067"></th>
                                    <th ng-bind="txt.TXT0026"></th>
                                    <th ng-bind="txt.TXT0039"></th>
                                    <th ng-bind="txt.TXT0035"></th>
                                    <th ng-bind="txt.TXT0036" ng-if="user.role == 'staff'"></th>
                                </tr>
                            </thead>

                            <tbody ng-hide="meta.usermeta.isGettingUsers" dir-paginate="i in meta.usermeta.users | itemsPerPage : meta.usermeta.perPage" total-items="meta.usermeta.totalRows">
                                <tr class="slide-top" ng-class-even="'even'" style="animation-delay:{{$index /6}}s">

                                    <td data-colname="{{txt.TXT0067}}">{{ meta.usermeta.perPage * ( meta.usermeta.page-1 ) + $index+1 }}</td>
                                    <td data-colname="{{txt.TXT0026}}">{{i.email}} <span class="mm-completed" ng-if="i.is_subscribe ==='1'" ng-bind="txt.TXT0168"></span> <span class="mm-pending" ng-if="i.is_subscribe !=='1'">unpaid</span></td>

                                    <td data-colname="{{txt.TXT0039}}" class="mm-address-list" ng-if="user.role == 'administrator' ">
                                        <div ng-if="meta.mmaddress.length > 0" data="{{i}}">
                                            <select class="form-control" ng-model="userId[i.id]"  ng-options="x.id as x.address_line1 for x in meta.mmaddress" ng-change="assign( userId[i.id], i.id )" ng-disabled="meta.isAssigning">
                                            </select>
                                        </div>
                                        <div ng-if="meta.mmaddress.length <= 0" ng-bind="txt.TXT0139">
                                        </div>
                                    </td>

                                    <td data-colname="{{txt.TXT0039}}" ng-if="i.address_line1 && user.role == 'staff'">{{i.address_line1}},{{i.city}}</td>
                                    <td data-colname="{{txt.TXT0039}}" ng-if="!i.address_line1 && user.role == 'staff'" ng-bind="txt.TXT0162"></td>

                                    <td data-colname="{{txt.TXT0035}}" class="mm-address-list">
                                        <div class="mm-toggler">
                                            <label for="toggler" class="mm-toggler" ng-class="{'active': i.is_active !== '1'}" sweetalert sweet-options="{{sweet.option}}" sweet-on-confirm="setStatus( i.id, i.is_active )" >
                                              <span>{{txt.TXT0103}}</span>
                                              <span>{{txt.TXT0104}}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td data-colname="{{txt.TXT0036}}" ng-if="user.role == 'staff'">
                                        <span  class="mm-msg-compose" ng-click="customerId( i.id, i.email )" ng-bind="txt.TXT0083"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table-loader when='meta.usermeta.isGettingUsers' empty="meta.usermeta.users.length"></table-loader>

                        <dir-pagination-controls on-page-change="get( newPageNumber )"></dir-pagination-controls>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mm-compose" ng-class="{'active': composeInfo.visible}">
    <div class="mm-compose-title">
        <span ng-bind="txt.TXT0055"></span><i class="fa fa-close" ng-click="composeInfo.visible=false"></i>
    </div>

    <form name="composeForm" ng-submit="composeForm.$valid && compose()" novalidate>

        <div class="form-group">
            <label ng-bind="txt.TXT0080"></label>
            <input type="email" ng-model="composeInfo.email" class="form-control" ng-blur="isEmailExist( composeInfo.email )" required disabled/>
            <div ng-show="invalidEmail" ng-bind="txt.TXT0056" class="mm-error-message"></div>
        </div>

        <div class="form-group">
            <div class="input-wrapper">
                <label ng-bind="txt.TXT0052"></label>
                <textarea ng-model="composeInfo.message" name="message" class="form-control" rows="4" required></textarea>
            </div>
            <div ng-show=" composeForm.$submitted || composeForm.message.$dirty ">
                <div class="mm-error-message" ng-show=" composeForm.message.$error.required " ng-bind="txt.ERR013"></div>
            </div>
        </div>

        <!-- <div class="form-group">
            <button type="file" ngf-select="upload( $file, $invalidFiles )"  ng-bind="txt.TXT0079"></button> {{ composeInfo.attachment.name }}
        </div> -->

        <button type="submit" ng-class="{'loader':mail.isComposing}" ng-disabled="mail.isComposing" class="mm-btn-primary" ng-bind="txt.TXT0081"></button>
    </form>

</div>
<!-- /.mm-compose


<!-- message -->
<div toast="meta.toast"></div>
<div toast="mail.toast"></div>

<div class="mm-saving" ng-class="{'active': mail.isComposing}" ng-bind="txt.TXT0082">
</div>
